{% extends "dysleksi/base.html" %}
{% load i18n static %}
{% load compress %}

{% block js %}
{{ block.super }}
{{ test_contents|json_script:"test_contents" }}
{{ assignment|json_script:"assignment" }}
{{ static_files|json_script:"static_files" }}
<script type="module" src="{% static 'js/screening/index.js' %}"></script>
{% endblock %}

{% block content %}
<div id="audio-indicator" style="display: none"></div>

<h1 id="student-header" class="student-header" style="display: none"></h1>


{% if show_test_debug_buttons %}
<div class="debug-buttons">
<button id="skip-instruction" class="debug-button">
    DEBUG: Skip Instruction
</button>

<button id="skip-all-instructions" class="debug-button">
    DEBUG: Skip all instructions
</button>

<button id="skip-sound-calibration" class="debug-button">
    DEBUG: Skip sound calibration
</button>

<button id="skip-summary" class="debug-button">
    DEBUG: Skip summary
</button>

</div>
{% endif %}

<div id="test-intro" class="center-screen">
    <div class="center-content">
        <h2 class="student-welcome">
            {% blocktrans trimmed with name=student.first_name last_name=student.last_name %}
            Hej {{ name }} {{ last_name }}
            {% endblocktrans %}
        </h2>
        <button class="btn start-btn" id="end-intro"></button>
    </div>
</div>

<div id="test-sound-calibration" class="center-screen" style="display: none">
    <i id="speaker" class="ph-fill ph-speaker-none"></i>

    <div class="center-content">

        <img src="{% static 'images/talking_face.png' %}"
             alt="talkingSmiley"
             class="smiley-button"
             id="sound-calibration-animation">

        <button class="btn start-btn" id="end-sound-calibration"></button>
    </div>
</div>

<div id="test-break" class="center-screen" style="display: none">
    <div class="center-content">
        <button class="btn start-btn" id="end-break"></button>
    </div>
</div>

<div id="testpart-outro" class="center-screen" style="display: none">
    <div class="center-content">
        <h2 id="testpart-outro-text"> </h2>

        <img src="{% static 'images/Smile.svg' %}"
             alt="Smiley"
             class="smiley-image"
             id="testpart-outro-image">

        <button class="btn start-btn" id="end-testpart-outro"></button>
    </div>
</div>

<div id="test-exit" class="center-screen" style="display: none">
    <div class="center-content">
        <h1>
            {% translate "Du er færdig med opgaverne" %}
            <span class="checkmark"><i class="ph-fill ph-check-fat"></i></span>
        </h1>

        <img src="{% static 'images/Grin.svg' %}"
             alt="Smiley"
             class="smiley-image">

        <button type="button" class="btn task-btn mt-5" id="log-out">
            {% translate "Log ud" %} <i class="ph-fill ph-sign-out"></i>
        </button>
    </div>
</div>


<div id="test-summary" style="display: none" class="center-screen">
    <div class="center-content">
        <div class="scroll-wrapper">
            <div id="summary-container" class="summary-container"></div>
            <div id="summary-scroll-controls" class="scroll-controls">
                <div id="scroll-summary-up" class="scroll-arrow disabled">
                    <i class="ph-fill ph-arrow-up"></i>
                </div>
                <div id="scroll-summary-down" class="scroll-arrow">
                    <i class="ph-fill ph-arrow-down"></i>
                </div>
            </div>
        </div>
        <button class="btn mt-5 start-btn" id="end-summary"></button>

        <div id="test-finished-row" class="finished-row" style="display: none">
            <img src="{% static 'images/Clapping-hands.svg' %}"
                 alt="Clapping-hands"
                 class="inline-image">

            <button type="button" class="btn task-btn" id="summary-log-out">
                {% translate "Log ud" %} <i class="ph-fill ph-sign-out"></i>
            </button>
        </div>
    </div>
</div>


<div class="center-screen type-{{ room_type }}"
     data-test-type="{{ room_type }}"
     data-role="student"
     data-student-first-name= "{{ student.first_name }}"
     data-student-last-name= "{{ student.last_name }}"
     data-student-id= "{{ student.id }}"
     data-assignment-id="{{ object.pk }}"
     id="test-container"
     style="display: none"
     >

    <div class="center-content">
        <div id="fade-overlay"></div>
        <audio id="reminder-sound" preload="auto"></audio>
        <audio id="instructions-sound"></audio>
        <div id="question-challenge"></div>
        <div id="choices" class="multiple-choice-choices"></div>
        <div id="multiple-choice-match-container" class="multiple-choice-match-container" style="display: none;">
            <div id="choices-left" class="multiple-choice-choices vertical"></div>
            <div class="match-divider"></div>
            <div id="choices-right" class="multiple-choice-choices vertical"></div>
        </div>
        <button id="next" class="btn start-btn" style="visibility: hidden;"></button>
        <button id="repeat" class="btn repeat-btn" data-hide-display="true" style="display: none;"></button>
    </div>
</div>

{% endblock %}
