{% extends 'dysleksi/base.html' %}
{% load i18n static %}
{% load compress %}

{% block js %}
{{ block.super }}
{{ test_contents|json_script:"test_contents" }}
{{ assignment|json_script:"assignment" }}
<script type="module" src="{% static 'js/screening/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container" data-test-type="{{ test_type }}" data-role="teacher" data-room-name="{{ room_name }}" data-assignment-id="{{ object.pk }}">

    <div id="question-container" class="d-none">
        <h1 id="question-title"></h1>
        <div id="question-content"></div>
    </div>


    <textarea id="note" class="form-control d-none" rows="10" placeholder="Notat"></textarea>
    <button class="btn btn-success d-none" id="correct">Korrekt</button>
    <button class="btn btn-danger d-none" id="wrong">Forkert</button>
    <button class="btn btn-outline-primary d-none" id="skipped">Sprunget over</button>
    <button class="btn btn-outline-primary d-none" id="cancelled">Afbryd test</button>
    <table id="events" class="table">
        <thead>
            <tr>
                <th>Begivenhed</th>
                <th>Spørgsmål</th>
                <th>Svar</th>
                <th>Tid</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
