# SPDX-FileCopyrightText: 2025 Magenta ApS <info@magenta.dk>
#
# SPDX-License-Identifier: MPL-2.0

# Dependencies that we use directly in this project, each with a written purpose for being here

## Core Django & gunicorn
Django==6.0.6
django-stubs==6.0.5
django-stubs-ext==6.0.5
gunicorn==26.0.0

## Postgres binding
psycopg==3.3.4

## Async packages, for handling websockets
channels==4.3.2
types-channels==4.3.0.20260518
channels_redis==4.3.0
uvicorn==0.49.0
daphne==4.2.2

## Serving static files
whitenoise==6.12.0

## Bootstrap-layout
django-bootstrap5==26.2

## Table layout
django-tables2==3.0.0

## CSP-enabling views
django-csp==4.0
django-csp-helpers==1.0.4

## Compile SCSS to CSS
django-libsass==0.9

## Compress css & js
django_compressor==4.6.0

## Image field
pillow==12.2.0

## History on model instances
django-simple-history==3.11.0

## Dynamic forms (lets us use lambdas in form field attributes)
django-forms-dynamic==1.0.0

## OIDC Login
mozilla-django-oidc==5.0.2

## Split django settings into relevant files, so each file contains related configuration
django-split-settings==1.3.2

## Avoid updating date field in translation files
django-extended-makemessages==1.9.0

## Redis cache backend
django-redis==7.0.0

## Tabulex SOAP client
zeep==4.3.2
zeep[xmlsec]
xmlsec
## Load tabulex demo data from file
dataclasses-json==0.6.7

## Drag and drop to reorder objects in Django admin
django-admin-sortable2

# Used for testing & linting

## Parses HTML and lets us query the DOM
beautifulsoup4==4.15.0

## Code coverage
coverage==7.14.1

## For specifying a given run time in tests (lets us define the return value of datetime.now etc.)
freezegun==1.5.5

## Code typing check
mypy==2.1.0

## test traceback for parallel tests
tblib==3.2.2

## Package dependencies
pipdeptree==3.1.0


## TODO: Remove when TOTP code is gone
django-otp==1.7.0
django-two-factor-auth==1.18.1





# Dependencies of dependencies, pinned to specific versions.

asgiref==3.11.1
attrs==26.1.0
autobahn==26.6.1
Automat==25.4.16
cbor2==6.1.2
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
constantly==23.10.4
cryptography==49.0.0
defusedxml==0.7.1
django-appconf==1.2.0
django-formtools==2.6.1
django-phonenumber-field==8.4.0
elementpath==4.8.0
h11==0.16.0
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
libsass==0.23.0
msgpack==1.2.1
mypy_extensions==1.1.0
packaging==26.2
py-ubjson==0.16.1
pycparser==3.0
pyOpenSSL==26.3.0
python-dateutil==2.9.0.post0
qrcode==8.2
rcssmin==1.2.2
redis==8.0.0
requests==2.34.2
types-requests==2.33.0.20260518
rjsmin==1.2.5
service-identity==26.1.0
six==1.17.0
soupsieve==2.8.4
sqlparse==0.5.5
Twisted==25.5.0
txaio==25.12.2
typing_extensions==4.15.0
ujson==5.13.0
urllib3==2.7.0
xmlschema==2.5.1
xmltodict==1.0.4
zope.interface==8.5
websockets==16.0
