{% extends "dysleksi/lobby/base.html" %}
{% load i18n %}

{% block js %}
{{ block.super }}
<script>
    const IndividualRoomName = "student_{{ student.id }}";
    const ClassRoomName = "class_{{ student.class.id }}";

    // When student enters the lobby, broadcast a message to all users connected to the lobby
    lobbySocket.addEventListener("open", (event) => {
        lobbySocket.send(JSON.stringify({'event': 'lobby.joined', 'room': IndividualRoomName}));
    });
    lobbySocket.addEventListener("open", (event) => {
        lobbySocket.send(JSON.stringify({'event': 'lobby.joined', 'room': ClassRoomName}));
    });    
    
    // Listen for session start events
    const IndividualChatSocket = getWebSocket(IndividualRoomName);
    IndividualChatSocket.onmessage = function (e) {
        console.log("chat: received", e.data);
        const data = JSON.parse(e.data);
        if (data.event === 'session.start') {
            const url = '{% url "dysleksi:room" room_name='student_'|add:student.id %}';
            window.location = url;
        }
    };
    const ClassChatSocket = getWebSocket(ClassRoomName);
    ClassChatSocket.onmessage = function (e) {
        console.log("chat: received", e.data);
        const data = JSON.parse(e.data);
        if (data.event === 'session.start') {
            const url = '{% url "dysleksi:room" room_name='class_'|add:student.class.id %}';
            window.location = url;
        }
    };

</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{% translate "Elev" %}</h1>
    <p>
        {% blocktrans trimmed with name=student.name %}
        Velkommen {{ name }}
        {% endblocktrans %}
    </p>
    <p>{% translate "Venter på at testen begynder ..." %}</p>
</div>
{% endblock %}
