{% extends "dysleksi/base.html" %}
{% load i18n static %}

{% block js %}
{{ block.super }}
<script type="module" src="{% static 'js/lobby/index.js' %}"></script>
{% endblock %}

{% block content %}
<div class="center-screen"
     data-student-id="{{ student.id }}"
     data-has-open-assignments="{{ open_assignments|yesno:"true,false" }}"
>
    <div class="center-content">
        <h1>
            {% blocktrans trimmed with name=student.get_full_name %}
            Hej {{ name }}
            {% endblocktrans %}
        </h1>
        {% if open_assignments %}
        <p>{% translate "Venter..." %}</p>
        {% else %}
        <p>{% translate "Du har ingen tests lige nu." %}</p>
        <a href="{% url 'login:logout' %}" class="btn task-btn mt-5">
            {% translate 'Log ud' %}
            <i class="ph-fill ph-sign-out"></i>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}
