{% load i18n %}
{% with key=value.category.color_key part=value.part response=value.response %}
<div class="result-score category-{{ key }}">
    {% if key == "red" %}
        {% translate "Elendigt" %}
    {% elif key == "yellow" %}
        {% translate "Under middel" %}
    {% elif key == "green" %}
        {% translate "Middel" %}
    {% elif key == "blue" %}
        {% translate "Over middel" %}
    {% else %}
        {% translate "Ikke fuldført" %}
    {% endif %}
</div>
<div class="text-center">
    <a href="{% url 'dysleksi:test_assignment_part_result' assignment_pk=response.assignment_id testpart_pk=part.pk response_pk=response.pk %}">
        {% translate "Se elevens svar" %}
    </a>
</div>
{% endwith %}
