{% extends "dysleksi/admin/base.html" %}
{% load i18n %}
{% load static %}
{% load error_modal from modals %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dysleksi:test_assignment_list' %}">{% translate 'Tests' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">
    {{ test_assignment.student.get_full_name }} - {{ test_assignment.test.name }}
</li>
{% endblock %}

{% block inner_content %}
<div data-role="teacher"
     data-test-type="{{ test_type }}"
     data-room-name="{{ room_name }}"
     data-assignment-id="{{ object.pk }}">

    <div class="screening-header">
        <h2 class="mt-2 mb-4">{{ test_assignment.student.get_full_name }} - {{ test_assignment.test.name }}</h2>
        {% details_popup %}
    </div>
    <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
            <span id="current-test-part-name" class="me-2 fw-bold">{% translate 'Deltest' %}</span>
            <span class="divider">/</span>
            <span id="current-test-part-number" class="ms-2">{% translate 'Del' %}</span>
            <div class="align-items-center ms-auto">
                <span class="d-inline-flex align-items-baseline me-5">
                    <i class="ph ph-clock me-2"></i>
                    <span id="total-elapsed-time"></span>
                </span>
                <button id="goto-next-result-group" class="btn btn-outline-secondary me-2">
                    <i class="ph-fill ph-skip-forward"></i>
                    {% translate 'Hop til næste del' %}
                </button>
                <button id="pause" class="btn btn-outline-secondary me-2">
                    <i class="ph-fill ph-pause"></i>
                    {% translate 'Pause test' %}
                </button>
                <button id="cancelled" class="btn btn-warning">
                    <i class="ph-fill ph-stop"></i>
                    {% translate 'Afslut test' %}
                </button>
            </div>
        </div>
        <div class="card-body d-flex">
            <div id="question-container">
                <div id="current-test-question-number" class="mb-3 fw-bold">{% translate 'Opgave' %}</div>
                <span id="question-title" class="d-none"></span>
                <div id="question-content" class="current-question"></div>
            </div>
            <div class="actions">
                <p class="fw-bold">{% translate 'Markér svar som:' %}</p>
                <div class="buttons">
                    <button id="correct" class="btn btn-outline-success disabled d-none">
                        <i class="ph ph-circle fs-5"></i>
                        <i class="ph-fill ph-check-circle fs-5"></i>
                        <span>{% translate 'Korrekt' %}</span>
                    </button>
                    <button id="wrong" class="btn btn-outline-danger disabled d-none">
                        <i class="ph ph-circle fs-5"></i>
                        <i class="ph-fill ph-x-circle fs-5"></i>
                        <span>{% translate 'Forkert' %}</span>
                    </button>
                    <button id="skipped" class="btn btn-outline-secondary disabled d-none">
                        <i class="ph ph-circle fs-5"></i>
                        <i class="ph-fill ph-minus-circle fs-5"></i>
                        <span>{% translate 'Sprunget over' %}</span>
                    </button>
                </div>
                <button id="next" class="btn btn-primary disabled">
                    {% translate 'Næste opgave' %}
                </button>
            </div>
            <div id="audio-indicator" class="d-flex"></div>
        </div>
    </div>
    <h3 class="mt-4 mb-3">{% translate 'Resultater' %}</h3>
    <div class="table-container">
        <table id="events" class="table">
            <thead>
                <tr>
                    <th>{% translate 'Deltest' %}</th>
                    <th>{% translate 'Opgave' %}</th>
                    <th>{% translate 'Resultat' %}</th>
                    <th>{% translate 'Lyd' %}</th>
                    <th>{% translate 'Bemærkning' %}</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<template id="edit-result">
    <div class="btn-group">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#correct">{% translate 'Korrekt' %}</a></li>
            <li><a class="dropdown-item" href="#wrong">{% translate 'Forkert' %}</a></li>
            <li><a class="dropdown-item" href="#skipped">{% translate 'Sprunget over' %}</a></li>
        </ul>
    </div>
</template>
{% endblock %}

{% block modals %}
{% error_modal %}
{% endblock %}

{% block js_module %}
{{ block.super }}
{{ test_contents|json_script:"test_contents" }}
{{ student_ids|json_script:"student_ids" }}
{{ static_files|json_script:"static_files" }}
{{ assignment|json_script:"assignment" }}
<script type="module" src="{% static 'js/screening/index.js' %}"></script>
{% endblock %}
