{% extends "dysleksi/admin/base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dysleksi:test_assignment_list' %}">{% translate 'Tests' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">
    Klasse {{class_name}} - Screening {{ test_name }}
</li>
{% endblock %}

{% block inner_content %}

<template id="student-card-template">
    <div class="student-card">
        <div class="student-top-row">
            <div class="progress-fill" style="width: 0%"></div>
            <div class="student-text">
                <span class="student-name"></span>
                <span class="student-current-part">-</span>
            </div>

            <div class="student-controls">
                <span class="status-icon">
                    <i class="ph-fill ph-check-circle"></i>
                </span>
                <span class="student-control-button mark-button">
                    <i class="ph-fill ph-flag-pennant"></i>
                </span>
                <span class="student-control-button">
                    {# Set opacity to zero because these dots don't do anything (yet) #}
                    {# See https://redmine.magenta.dk/issues/69738 #}
                    <i class="ph ph-dots-three" style="opacity: 0;"></i>
                </span>
                <span class="student-control-button">
                    <i id="foldout-arrow" class="ph-fill ph-caret-down"></i>
                </span>
            </div>
        </div>
        <div class="folded-area" style="display: none">
            <div class="parts-progress"></div>
            <div class="part-navigation">
                <div class="nav-group-left">
                    <i class="ph ph-caret-left nav-arrow"></i>
                    <span class="part-index"></span>
                </div>
                <i class="ph ph-caret-right nav-arrow"></i>
            </div>
            <span class="part-label"></span>
            <span class="question-index"></span>
            <div class="dots-container"></div>
        </div>
    </div>
</template>

<div data-role="teacher"
     data-test-type="{{ test_type }}"
     data-room-name="{{ room_name }}"
     data-assignment-id="{{ object.pk }}">

    <div class="screening-header">
        <h2 class="mt-2 mb-4">Klasse {{class_name}} - Screening {{ test_name }}</h2>
        {% details_popup %}
    </div>
    <div class="group-test-container">
        <div class="group-test-header">
            <button id="all-students-button" class="btn btn-outline-primary">
              Alle (<span id="all-students-count">0</span>)
            </button>
            
            <button id="ongoing-students-button" class="btn btn-outline-primary">
              I gang (<span id="ongoing-students-count">0</span>)
            </button>
            
            <button id="finished-students-button" class="btn btn-outline-primary">
              <i class="ph-fill ph-check-circle green"></i>
              Færdige (<span id="finished-students-count">0</span>)
            </button>
            
            <button id="marked-students-button" class="btn btn-outline-primary">
              <i class="ph-fill ph-flag-pennant orange"></i>
              Mærket (<span id="marked-students-count">0</span>)
            </button>
        </div>

        <div class="group-test-toolbar">
          Tegnforklaring: 
          <span class="dot correct"></span> Korrekt svar
          <span class="dot wrong"></span> Forkert svar
          <span class="dot partially-correct"></span> Delvist korrekt svar
        </div>

        <div class="group-test-divider"></div>

        <div class="group-test-body">
        </div>

        <div class="group-test-footer">
            <div id="result-link-disabled" class="d-inline" title="{% translate 'Testen skal gennemføres først' %}">
                <button class="btn btn-outline-secondary" disabled="disabled" aria-disabled="true">{% translate "Se resultater" %}</button>
            </div>
            <a id="result-link-enabled" class="btn btn-outline-secondary d-none" href="{% url 'dysleksi:test_assignment_results' pk=object.pk %}">{% translate "Se resultater" %}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block js_module %}
{{ block.super }}
{{ test_contents|json_script:"test_contents" }}
{{ student_ids|json_script:"student_ids" }}
{{ static_files|json_script:"static_files" }}
{{ assignment|json_script:"assignment" }}
<script type="module" src="{% static 'js/screening/index.js' %}"></script>
{% endblock %}
