{% extends "dysleksi/admin/base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dysleksi:class_assignment_list' class_pk=class.pk %}">{% translate 'Tests' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">
    {% blocktranslate trimmed with class_name=class_name test_name=test_name %}
        Klasse {{ class_name }} - Screening {{ test_name }}
    {% endblocktranslate %}
</li>
{% endblock %}

{% block inner_content %}
{% include "dysleksi/window_blocked.html" %}

<template id="student-card-template">
    <div class="student-card">
        <div class="student-top-row">
            <div class="progress-fill" style="width: 0%"></div>
            <div class="student-text">
                <span class="student-name"></span>
                <span class="student-current-part">-</span>
            </div>

            <div class="student-controls">
                <span class="status-icon">
                    <i class="ph-fill ph-check-circle"></i>
                </span>
                <span class="student-control-button mark-button">
                    <i class="ph-fill ph-flag-pennant"></i>
                </span>
                <span class="student-control-button">
                    {# Set opacity to zero because these dots don't do anything (yet) #}
                    {# See https://redmine.magenta.dk/issues/69738 #}
                    <i class="ph ph-dots-three" style="opacity: 0;"></i>
                </span>
                <span class="student-control-button">
                    <i id="foldout-arrow" class="ph-fill ph-caret-down"></i>
                </span>
            </div>
            <div id="pause-overlay">
                <i class="ph-fill ph-pause"></i>
            </div>
        </div>
        <div class="folded-area" style="display: none">
            <div class="parts-progress"></div>
            <div class="part-navigation">
                <div class="nav-group-left">
                    <i class="ph ph-caret-left nav-arrow"></i>
                    <span class="part-index"></span>
                </div>
                <i class="ph ph-caret-right nav-arrow"></i>
            </div>
            <span class="part-label"></span>
            <span class="question-index"></span>
            <div class="dots-container"></div>
        </div>
    </div>
</template>

<div data-role="teacher"
     data-test-type="{{ test_type }}"
     data-room-name="{{ room_name }}"
     data-assignment-id="{{ object.pk }}">

    <div class="screening-header">
        <h2 class="mt-2 mb-4">{% blocktranslate trimmed with class_name=class_name test_name=test_name %}Klasse {{ class_name }} - Screening {{ test_name }}{% endblocktranslate %}</h2>
        <div class="screening-controls">
            <div class="screening-progress-wrapper">
                <span id="test-progress-label" class="screening-progress-label">0%</span>
                <div class="progress screening-progress" role="progressbar">
                    <div id="test-progress-bar" class="progress-bar" style="width: 0%"></div>
                </div>
            </div>
            <span class="screening-timer d-inline-flex align-items-baseline">
                <i class="ph ph-clock me-2"></i>
                <span id="total-elapsed-time">00:00:00</span>
            </span>
            <div class="screening-actions">
                <button id="paused" disabled=true class="btn btn-outline-secondary">
                    <i class="ph-fill ph-pause"></i>
                    <span class="pause-label">{% translate 'Pause' %}</span>
                </button>
                <button id="cancelled" disabled=true class="btn btn-warning">
                    <i class="ph-fill ph-stop"></i>
                    {% translate 'Afslut' %}
                </button>
            </div>
            {% details_popup %}
        </div>
    </div>
    <div class="group-test-container">
        <div class="group-test-header">
            <button id="all-students-button" class="btn btn-outline-primary">
              {% translate "Alle" %} (<span id="all-students-count">0</span>)
            </button>

            <button id="ongoing-students-button" class="btn btn-outline-primary">
              {% translate "I gang" %} (<span id="ongoing-students-count">0</span>)
            </button>

            <button id="finished-students-button" class="btn btn-outline-primary">
              <i class="ph-fill ph-check-circle green"></i>
              {% translate "Færdige" %} (<span id="finished-students-count">0</span>)
            </button>

            <button id="marked-students-button" class="btn btn-outline-primary">
              <i class="ph-fill ph-flag-pennant orange"></i>
              {% translate "Mærket" %} (<span id="marked-students-count">0</span>)
            </button>
        </div>

        <div class="group-test-toolbar">
            <div class="toolbar-left">
                <button class="toolbar-btn" id="sort-button">
                    {% translate "Sortering: Navn (A-Å)" %}
                    <i id="sort-icon" class="ph ph-sort-ascending"></i>
                </button>
                <button class="toolbar-btn borderless" id="fold-all-button">
                    <i class="ph ph-caret-up-down"></i>
                    {% translate "Fold alle ud/sammen" %}
                </button>
                <div class="toolbar-view-switcher">
                    <span class="view-label">{% translate "Visning:" %}</span>
                    <button class="view-btn" data-columns="2">2</button>
                    <button class="view-btn" data-columns="3">3</button>
                    <button class="view-btn active" data-columns="4">4</button>
                </div>
            </div>
            <div class="toolbar-right">
                <span>{% translate "Tegnforklaring:" %}</span>
                <span class="dot-legend">
                    <span class="dot correct"></span> {% translate "Korrekt svar" %}
                </span>
                <span class="dot-legend">
                    <span class="dot wrong"></span> {% translate "Forkert svar" %}
                </span>
                <span class="dot-legend">
                    <span class="dot partially-correct"></span> {% translate "Delvist korrekt svar" %}
                </span>
            </div>
        </div>

        <div class="group-test-divider"></div>

        <div class="group-test-body">
        </div>

        <div class="group-test-footer">
            <div id="result-link-disabled" class="d-inline" title="{% translate 'Testen skal gennemføres først' %}">
                <button class="btn btn-outline-secondary" disabled="disabled" aria-disabled="true">{% translate "Se resultater" %}</button>
            </div>
            <a id="result-link-enabled" class="btn btn-outline-secondary d-none" href="{% url 'dysleksi:test_assignment_results' pk=object.pk %}">{% translate "Se resultater" %}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block js_module %}
{{ block.super }}
{{ test_contents|json_script:"test_contents" }}
{{ student_ids|json_script:"student_ids" }}
{{ static_files|json_script:"static_files" }}
{{ assignment|json_script:"assignment" }}
{{ window_lock_config|json_script:"window-lock-config" }}
<script type="module" src="{% static 'js/screening/index.js' %}"></script>
{% endblock %}
