{% extends "dysleksi/admin/base.html" %}
{% load i18n %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dysleksi:test_assignment_list' %}">{% translate 'Tests' %}</a></li>
<li class="breadcrumb-item active" aria-current="page">
    Klasse {{class_name}} - Screening {{ test_name }}
</li>
{% endblock %}

{% block inner_content %}

<template id="student-card-template">
    <div class="student-card">
        <div class="student-top-row">
            <div class="progress-fill" style="width: 0%"></div>
            <span class="student-text"></span>
            <div class="student-controls">
                <span class="status-icon">
                    <i class="ph-fill ph-check-circle"></i>
                </span>
                <span class="student-control-button mark-button">
                    <i class="ph-fill ph-flag-pennant"></i>
                </span>
                <span class="student-control-button">
                    <i class="ph ph-dots-three"></i>
                </span>
                <span class="student-control-button">
                    <i id="foldout-arrow" class="ph-fill ph-caret-up"></i>
                </span>
            </div>
        </div>
        <div class="folded-area" style="display: none">
            <div class="parts-progress"></div>
            <div class="part-navigation">
                <div class="nav-group-left">
                    <i class="ph ph-caret-left nav-arrow"></i>
                    <span class="part-index"></span>
                </div>
                <i class="ph ph-caret-right nav-arrow"></i>
            </div>
            <span class="part-label"></span>
            <span class="question-index"></span>
            <div class="dots-container"></div>
        </div>
    </div>
</template>

<div data-role="teacher"
     data-test-type="{{ test_type }}"
     data-room-name="{{ room_name }}"
     data-assignment-id="{{ object.pk }}">
    <h5 class="mt-2 mb-4">Klasse {{class_name}} - Screening {{ test_name }}</h5>
    <div class="group-test-container">
        <div class="group-test-header">
            <button id="all-students-button" class="btn btn-outline-primary">
              Alle (<span id="all-students-count">0</span>)
            </button>
            
            <button id="ongoing-students-button" class="btn btn-outline-primary">
              I gang (<span id="ongoing-students-count">0</span>)
            </button>
            
            <button id="finished-students-button" class="btn btn-outline-primary">
              <i class="ph-fill ph-check-circle green"></i>
              Færdige (<span id="finished-students-count">0</span>)
            </button>
            
            <button id="marked-students-button" class="btn btn-outline-primary">
              <i class="ph-fill ph-flag-pennant orange"></i>
              Mærket (<span id="marked-students-count">0</span>)
            </button>
            
            <button id="problem-students-button" class="btn btn-outline-primary">
              <i class="ph-fill ph-warning-circle red"></i>
              Problemer/offline (<span id="problem-students-count">0</span>)
            </button>
        </div>

        <div class="group-test-toolbar">
          Tegnforklaring: 
          <span class="dot correct"></span> Korrekt svar
          <span class="dot wrong"></span> Forkert svar
          <span class="dot partially-correct"></span> Delvist korrekt svar
        </div>

        <div class="group-test-divider"></div>

        <div class="group-test-body">
        </div>

    </div>
</div>
{% endblock %}

{% block js_module %}
{{ block.super }}
{{ test_contents|json_script:"test_contents" }}
{{ static_files|json_script:"static_files" }}
{{ assignment|json_script:"assignment" }}
<script type="module" src="{% static 'js/screening/index.js' %}"></script>
{% endblock %}
