{% extends "dysleksi/admin/base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load assign_group_modal from modals %}
{% load assign_individual_modal from modals %}

{% block breadcrumb %}
{% if current_class %}
<li class="breadcrumb-item"><a href="{% url 'dysleksi:class_list' %}">{% translate 'Klasser' %}</a></li>
<li class="breadcrumb-item">
    {% has_permission current_class "view" as has_perm %}
    {% if has_perm %}
    <a href="{% url 'dysleksi:class_detail' pk=current_class.pk %}">
        {% blocktranslate trimmed with class_name=current_class.name %}
        Klasse {{ class_name }}
        {% endblocktranslate %}
    </a>
    {% else %}
        {% blocktranslate trimmed with class_name=current_class.name %}
        Klasse {{ class_name }}
        {% endblocktranslate %}
    {% endif %}
</li>
<li class="breadcrumb-item active" aria-current="page">{% translate 'Testoversigt' %}</li>
{% endif %}
{% endblock %}

{% block inner_content %}
<div class="row">
    <div class="col-6">
        <h5 class="mt-2 mb-4">
            <i class="ph ph-users-three fs-5"></i>
            {% if current_class %}
                {% blocktranslate trimmed with class_name=current_class.name %}
                Testoversigt for {{ class_name }}
                {% endblocktranslate %}
                <span class="subheader">
                    ({% blocktranslate trimmed with school_year_start=current_class.school_year_start %}
                    Årgang {{ school_year_start }}
                    {% endblocktranslate %})
                </span>
            {% else %}
                {% translate 'Tests' %}
            {% endif %}
        </h5>
    </div>
    <div class="col-6 mt-2 text-end">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#assign_group">
            <i class="ph ph-plus me-1"></i>
            {% translate 'Tildel gruppetest' %}
        </button>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#assign_individual">
            <i class="ph ph-plus me-1"></i>
            {% translate 'Tildel individuel test' %}
        </button>
    </div>
</div>
{% render_table table %}
{% endblock %}

{% block modals %}
{% assign_group_modal form=assign_group_form %}
{% assign_individual_modal form=assign_individual_form %}
{% endblock %}

{% block js_module %}
{{ block.super }}
<script type="module" src="{% static 'js/admin/wizard.js' %}"></script>
{% endblock %}
