{% extends "dysleksi/admin/base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load assign_group_modal from modals %}
{% load assign_individual_modal from modals %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page"><a href="#">{% translate 'Tests' %}</a></li>
{% endblock %}

{% block inner_content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>{% translate 'Tests' %}</h1>
    <div class="ms-auto">
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#assign_group">
            <i class="ph ph-plus me-1"></i>
            {% translate 'Tildel gruppetest' %}
        </button>
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#assign_individual">
            <i class="ph ph-plus me-1"></i>
            {% translate 'Tildel individuel test' %}
        </button>
    </div>
</div>
{% render_table table %}
{% endblock %}

{% block modals %}
{% assign_group_modal form=assign_group_form %}
{% assign_individual_modal form=assign_individual_form %}
{% endblock %}

{% block js_module %}
{{ block.super }}
<script type="module" src="{% static 'js/admin/wizard.js' %}"></script>
{% endblock %}
