{% comment %}
SPDX-FileCopyrightText: 2025 Magenta ApS <info@magenta.dk>
SPDX-License-Identifier: MPL-2.0
{% endcomment %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load compress %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <script src="/static/vendor/js/peerjs/peerjs.min.js"></script>
    {# Django JS translation catalog: defines gettext/interpolate globals before the deferred ES modules run #}
    <script src="{% url 'javascript-catalog' %}"></script>
    {% block css %}
    {% compress css %}
    <link type="text/x-scss" href="{% static 'theme.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% endblock %}
    <title>{% block title %}{% translate "Dysleksi" %}{% endblock %}</title>
    {% block extra_headers %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    {% block js_module %}
    {% endblock %}

    {{ CLIENT_ERROR_LOG_CONFIG|json_script:"client-error-log-config" }}
    <script type="module" src="{% static 'js/error-reporting.js' %}"></script>

    {% if show_debug_console %}
    <div id="logbox" class="logbox"></div>

    <script type="module" src="{% static 'js/debug.js' %}"></script>
    {% endif %}
    <div id="fade-overlay"></div>
    {{ WEBRTC_CONFIG|json_script:"webrtc-config" }}
</body>
