{% comment %}
SPDX-FileCopyrightText: 2025 Magenta ApS <info@magenta.dk>
SPDX-License-Identifier: MPL-2.0
{% endcomment %}
{% load static %}
{% load i18n %}
{% load csp %}
{% load compress %}
{% load django_bootstrap5 %}
<!doctype html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    <link type="text/x-scss" href="{% static 'theme.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}
    <title>{% block title %}{% translate "Dysleksi" %}{% endblock %}</title>
    {% block extra_headers %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
