<div class="d-inline-block">

{% with assignment_pk=column.column.assignment.pk testpart_pk=column.column.part.pk %}
    {% if assignment_pk and testpart_pk %}
    <a class="result-part-header" href="{% url 'dysleksi:test_assignment_part_results' assignment_pk=assignment_pk testpart_pk=testpart_pk %}">{{ column.header }}</a>
    {% else %}
    {{ column.header }}
    {% endif %}
{% endwith %}

{% with subgroups=column.column.subgroups %}
    {% if subgroups %}
    <ul>
        {% for subgroup in column.column.subgroups %}
            <li class="category-header-{{ subgroup.category.color_key }}">{{ subgroup.lower_bound }}-{{ subgroup.upper_bound }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}

</div>
