{% extends "dysleksi/admin/base.html" %}
{% load i18n %}
{% load static %}
{% load render_table from django_tables2 %}

{% block css %}
{{ block.super }}
    <style>
        .test-results-table table th:not(:first-child) {
            width: calc(80%/{{ pagination.page_size }});
        }
    </style>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dysleksi:test_assignment_list' %}">{% translate 'Tests' %}</a></li>
<li class="breadcrumb-item">
    <a href="{% url 'dysleksi:room' object.pk %}">
        {% blocktranslate trimmed with class_name=class_name test_name=object.test.name %}
            Klasse {{ class_name }} - {{ test_name }}
        {% endblocktranslate %}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">{% translate "Resultater" %}</li>
{% endblock %}

{% block inner_content %}
    {% csrf_token %}
    <div class="row">
        <div class="col-9">
            <h5 class="mt-2 mb-4">
                <i class="ph ph-chart-bar fs-5"></i>
                {% translate "Klassens resultater" %}
                <span class="subheader">
                    ({% blocktranslate trimmed with class_name=class_name test_name=object.test.name %}
                    Klasse {{class_name}} - {{ test_name }}
                    {% endblocktranslate %})
                </span>
            </h5>
        </div>
        <div class="col-3">
            <button class="btn btn-primary mt-2 float-end"><i class="ph ph-upload-simple"></i>{% translate "Eksportér som PDF" %}</button>
        </div>
    </div>

    <h6>{% translate "Klassens fordeling" %}</h6>
    <div id="results-by-category" class="row">
        {% for category in by_category %}
        <div class="col card result-card mx-2">
            <h1 class="card-header category-{{ category.color }}">
                {{ category.label }} ({{ category.items.count }})
{#                <i class="ph-fill ph-question"></i>#}
            </h1>
            <div class="card-body">
                <ul class="list-unstyled">
                    {% if category.items|length > 5 %}
                        {# Show 5, and allow user to reveal the rest #}
                        {% for testresponse in category.items|slice:":5" %}
                        {% include "dysleksi/admin/test_responses/group/flag_link.html" with testresponse=testresponse %}
                        {% endfor %}

                        <div id="collapse_{{ category.color }}" class="collapse">
                            {% for testresponse in category.items|slice:"5:" %}
                            {% include "dysleksi/admin/test_responses/group/flag_link.html" with testresponse=testresponse %}
                            {% endfor %}
                        </div>
                        <a data-bs-toggle="collapse" href="#collapse_{{ category.color }}" class="collapse-autoremove">
                            <div>{# this will be hidden when expanding #}
                            {% blocktranslate with count=category.items|length|add:-5 trimmed %}
                            Vis {{ count }} mere
                            {% endblocktranslate %}
                            </div>
                        </a>
                    {% else %}
                        {# Show all #}
                        {% for testresponse in category.items %}
                        {% include "dysleksi/admin/test_responses/group/flag_link.html" with testresponse=testresponse %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-10">
            <h6 class="mt-3">Samlet overblik over score i deltest</h6>
        </div>
        {{ pagination|json_script:"pagination" }}
        <div data-pagination-details="pagination" data-pagination-page-param="page" data-pagination-target="test-results-table" data-pagination-content-param="only_table" class="col-2 d-flex align-items-center justify-content-md-end">
            <span class="paginator-text" data-format="{% translate '${first} - ${last} af ${total}' %}">
                {% blocktranslate trimmed with first=pagination.current_first last=pagination.current_last total=pagination.total_count %}
                    {{ first }} - {{ last }} af {{ total }}
                {% endblocktranslate %}
            </span>
            <div class="btn-group">
                <button class="paginate-left btn btn-borderless" {% if pagination.current_page <= 1 %}disabled{% endif %}><i class="ph ph-arrow-left m-0"></i></button>
                <button class="paginate-right btn btn-borderless" {% if pagination.current_page >= pagination.last_page %}disabled{% endif %}><i class="ph ph-arrow-right m-0"></i></button>
            </div>
        </div>
    </div>

    <div id="test-results-table" class="test-results-table">
    {% render_table table %}
    </div>

{% endblock %}

{% block js_module %}
    {{ block.super }}
    {% url 'dysleksi:test_response_flag' pk=0 as flag_url %}
    {{ flag_url|json_script:"flag_url" }}
    <script type="module">
        import { initialize_flagging } from '{% static 'js/admin/flag.js' %}';
        document.addEventListener("DOMContentLoaded", initialize_flagging);

        import { initialize_pagination } from '{% static 'js/admin/pagination.js' %}';
        document.addEventListener("DOMContentLoaded", initialize_pagination);
    </script>
{% endblock %}
