// "Design names"
$student-grey-lightest: #F9F7F4;
$student-grey-light: #DED9D2;
$student-grey: #ACA9A4;
$student-grey-dark: #7B7670;
$student-grey-darker: #494743;
$student-grey-darkest: #1E1D1A;
$student-purple-lightest: #e5d4df;
$student-purple-light: #bd94af;
$student-purple: #7b295e;
$student-purple-dark: #3d142f;
$student-green-lightest: #d5dfd2;
$student-green-light: #95af8f;
$student-green: #2b5f20;
$student-green-dark: #183012;
$student-red-lightest: #ecd0d0;
$student-red-light: #cf898a;
$student-red: #9f1415;
$student-red-dark: #500a0b;
$student-yellow-lightest: #faf2dd;
$student-yellow-light: #f2deaa;
$student-yellow: #cfaa4c;
$student-yellow-dark: #685526;
$student-blue-light: #80a1c0;
$student-blue: #e6ecf3;
$student-blue-dark: #004382;
$student-blue-darkest: #003668;
$checkmark-green: #306025;

// Map "design names" to known Bootstrap variables
$body-bg: $student-grey-lightest;
$primary: $student-blue;
$secondary: $student-grey-light;

$asset-manifest: (
  "bg-sound-btn":          '/static/images/Knap-hoer-lyd.svg',
  "bg-sound-btn-playing":  '/static/images/Knap-hoer-lyd-aktiv.svg',
  "bg-start-btn":          '/static/images/Knap-start.svg',
  "bg-start-part-btn":     '/static/images/Knap-start-deltest.svg',
  "bg-next-btn":           '/static/images/Knap-naeste-opgave.svg',
  "bg-repeat-btn":         '/static/images/Knap-gentag-instruktion.svg',
  "bg-audio-bars":         '/static/images/audiobars.svg'
);


// 3. Generate the :root CSS variables so JS can access and modify them
:root {
  @each $name, $path in $asset-manifest {
    --#{$name}: url('#{$path}');
  }
}

@import "./vendor/scss/bootstrap";
@import "./vendor/fonts/phosphor/regular/style.css";
@import "./vendor/fonts/phosphor/fill/style.css";

@font-face {
  font-family: "Karinika";
  font-weight: normal;
  src: url("./fonts/Karinika-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Andika Italic";
  font-weight: normal;
  src: url("./vendor/fonts/andika/Andika-Italic.ttf") format("truetype");
}

body {
  font-family: "Karinika", "Helvetica", sans-serif;
  touch-action: pan-x pan-y; // Prevent pinch-zoom
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed; // Prevents the 'pull-to-refresh' and 'rubber-band' effect on iOS
}

i {
  font-family: "Andika Italic", "Helvetica", sans-serif;
  font-style: normal; /* avoid "double italicization" */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.btn {
  touch-action: manipulation; /* prevent double-tap zoom on iPads */
}

.btn-outline-primary {
  color: black !important;
  border-color: $student-blue-dark !important;
  background-color: white !important;
  border-width: 1px !important;
  font-size: 1.1rem;
  border-radius: 16px !important;

  &:hover, &:focus, &:active {
    background-color: $student-blue !important;
    border-width: 2px !important;
    padding: calc(1rem - 1px) calc(3rem - 1px) !important;
  }
  &.selected {
    background-color: $student-blue !important;
    outline: 3px solid $student-blue-dark !important;
  }

  &:disabled {
    color: $student-grey !important;
    border-color: $student-grey !important;
  }

}

.btn-true-false {
  color: black !important;
  background-color: white !important;
  border-width: 8px !important;
  font-size: 1.1rem;
  border-radius: 16px !important;
  width: 200px !important;
  flex: none !important;

  &.true {
    border-color: $student-green !important;
    background-color: $student-green-lightest !important;
    color: $student-green !important;

    i {
      color: $student-green;
    }

    &.selected {
      background-color: $student-green-light !important;
      outline: 2px solid;
    }
  }

  &.false {
    border-color: $student-red !important;
    background-color: $student-red-lightest !important;
    color: $student-red !important;

    i {
      color: $student-red;
    }

    &.selected {
      background-color: $student-red-light !important;
      outline: 2px solid;
    }
  }
}


body.show-instructions {
  .btn-outline-primary {
    &:disabled {
      /* Inputs are disabled while rendering instructions,
       but we should not set them in a faded color then */
      color: black !important;
      border-color: $student-blue-dark !important;
      background-color: white !important;
    }
  }
}

.erase-btn {
  background-color: $student-grey-light !important;
  color: black;
  border: 1px solid black !important;
  height: 4rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem 0.5rem 0.5rem;
  font-size: 2.5rem !important;

  &:disabled {
    color: white; // changes text/icon color when button is disabled
    background-color: $student-grey-light !important;
    border-color: $student-grey !important;

    .ph {
      color: white; // ensures icon itself is white
    }
  }
}

body.show-instructions {
  .sound-btn {
    &:disabled {
      /* Inputs are disabled while rendering instructions,
       but we should not set them in a faded color then */
      background-color: $student-blue-dark !important;
    }
  }
  .letter-btn {
    &:disabled {
      color: black !important;
      border-color: $student-grey !important;
    }
  }
}

@keyframes pulse-outline {
  0% {
    outline-offset: 0px;
  }
  50% {
    outline-offset: -4px;
  }
  100% {
    outline-offset: -2px;
  }
}

.svg-btn {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  margin: 2.5 * $spacer 0 0 0;
  transition: opacity 0.2s ease-in-out;

  &:disabled {
    cursor: default;
    pointer-events: none; // prevents clicks
    opacity: 0.5;
    border: 0 none;
  }
  &:active {
    border: 0 none;
  }
  &:focus {
    border: 0 none;
  }
}

.sound-btn {
  @extend .svg-btn;
  background-image: var(--bg-sound-btn);
  width: 7.5rem;
  height: 5rem;
  display: flex;
  margin: 0 0 64px 0;

  align-items: center;
  justify-content: center;

  &.playing {
    background-image: var(--bg-sound-btn-playing);
    animation: pulse-outline 1s ease-in-out infinite alternate;
  }
}

.start-btn {
  @extend .svg-btn;
  background-image: var(--bg-start-btn);
  width: 8rem;
  height: 8rem;
}

.start-part-btn {
  @extend .svg-btn;
  background-image: var(--bg-start-part-btn);
  width: 10rem;
  height: 5rem;
}

.next-btn {
  @extend .svg-btn;
  background-image: var(--bg-next-btn);
  width: 180px;
  height: 80px;
}

.repeat-btn {
  @extend .svg-btn;
  background-image: var(--bg-repeat-btn);
  width: 7.5rem;
  height: 5rem;
}

.letter-btn {
    font-size: 2rem !important;
    margin: 0.5rem;
    width: 5rem;
    height: 4rem;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.square-btn {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 32px;

    max-width: 222px;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;


    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain; 
        display: block;
    }

}

.letter-row {
  display: flex;              // make buttons go side by side
  gap: 0.5rem;                // space between buttons
  margin-bottom: 0.5rem;      // space between rows
  flex-wrap: nowrap;          // fill out each row horizontally
}

.display-field {
  background-color: white;
  user-select: none;    // cannot select text
  min-height: 38px;
  display: flex;
  align-items: center;
  padding: 0 0.75rem;
  white-space: pre;    // preserve spaces
  flex-grow: 1;
  height: 4rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  font-size: 2rem;
  caret-animation: manual;

  &:focus {
    background-color: white;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
  }
}

.multiple-choice-choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80vw;
  padding: 0;
  list-style: none;
  gap: 1rem;

  button {
    flex: 1;  // all buttons in #choices have equal width
    padding: 1rem 3rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
}

.multiple-choice-answer-display {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  width: 20vw;
  margin-top: 24px;
  height: 120px;
  font-size: 38px;
}

#challenge-image {
  display: block;
  margin: 0 auto 0 auto;
  height: 180px;
  object-fit: contain;
}

#challenge-text {
  display: block;
  margin: 0 auto 0 auto;
  
  background-color: #ffffff;
  border: 2px solid $student-grey-light;
  border-radius: 16px !important;

  height: auto;
  min-height: 100px;
  width: fit-content;
  padding: 24px 40px 32px 40px;
  
  text-align: center;
}

@keyframes highlight-pulse {
  0% {
    transform: scale(1);
    filter: none;
  }
  50% {
    transform: scale(1.1);  // grow
    filter: drop-shadow(0 $spacer $spacer $student-grey);
  }
  100% {
    transform: scale(1);    // shrink back
    filter: none;
  }
}

.highlight {
  animation: highlight-pulse 1s ease-in-out forwards;
}

.logbox {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 600px;
  overflow-y: auto;
  background: #111;
  color: #0f0;
  font-family: monospace;
  padding: 10px;
  border-radius: 8px;
  white-space: pre-wrap;
  z-index: -999999;

}


@keyframes pulse {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.sound-btn.pulse {
  animation: pulse 1s infinite;
}

body.show-instructions .sound-btn.pulse {
  animation: none;
}

.student-header {
  position: relative;
  width: 100%;
  background: $student-yellow-light;
  margin: 0;
  padding: 0.5 * $spacer;
  font-size: 2.625 * $spacer;
  line-height: 1;
  text-align: right;
  z-index: 9999;
  color: $student-yellow;

  i.ph {
    font-size: 2.625 * $spacer;
  }
}

.center-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;

  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  text-align: center;
  z-index: 1000;

  overflow: hidden;
}

.center-content {
  flex: 1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.center-content #fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $body-bg;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}

.debug-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.debug-button {
    display: none;
}

.smiley-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

#audio-indicator {
  width: 100%;
  height: 58px;
  background-color: #ccd9e6;
  background-image: var(--bg-audio-bars);
  background-repeat: no-repeat;
  background-position: calc(100% - 31px) center;
}

.type-individual {
  #challenge-text {
    margin: 5rem 0 0 0;
    padding: 2.5rem 3rem 4.5rem 3rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    line-height: 50%;
    background-color: #ffffff;
  }
}

.angry-btn {
    animation: angry-shake 0.35s ease-in-out 0s 2;
    box-shadow: 0 0 0.6rem $student-red, 0 0 1.2rem lighten($student-red, 20%);
}

@keyframes angry-shake {
    0%   { transform: translateX(0); }
    10%  { transform: translateX(-3px) rotate(-1deg); }
    20%  { transform: translateX(3px) rotate(1deg); }
    30%  { transform: translateX(-5px) rotate(-2deg); }
    40%  { transform: translateX(5px) rotate(2deg); }
    50%  { transform: translateX(-4px) rotate(-1deg); }
    60%  { transform: translateX(4px) rotate(1deg); }
    70%  { transform: translateX(-2px) rotate(-1deg); }
    80%  { transform: translateX(2px) rotate(1deg); }
    90%  { transform: translateX(-1px); }
    100% { transform: translateX(0); }
}

.happy-btn {
    animation: happy-flash 0.5s ease-in-out;
    box-shadow: 0 0 0.3rem rgba($student-green, 0);
}

@keyframes happy-flash {
    0% {
        box-shadow: 0 0 0.3rem rgba($student-green, 0.6);
    }
    50% {
        box-shadow: 0 0 0.9rem rgba($student-green, 0.9);
    }
    100% {
        box-shadow: 0 0 0.3rem rgba($student-green, 0);
    }
}

.pressed-btn {
    animation: button-press-flash 0.5s ease-in-out;
    box-shadow: 0 0 0.3rem rgba($student-grey-darkest, 0);
}

@keyframes button-press-flash {
    0% {
        box-shadow: 0 0 0.3rem rgba($student-grey-darkest, 0.6);
    }
    50% {
        box-shadow: 0 0 0.9rem rgba($student-grey-darkest, 0.9);
    }
    100% {
        box-shadow: 0 0 0.3rem rgba($student-grey-darkest, 0);
    }
}

#summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.summary-block {
    background-color: white;
    color: black;
    font-size: 2rem;
    width: 80vw;
    padding: 1rem 2rem;
    border-radius: 8px;
    text-align: left;
    pointer-events: none;
    border: 2px solid $student-grey-light;
}

.summary-count {
    font-size: 1.5rem;
    color: $student-grey-dark;
}

.checkmark {
    color: $checkmark-green;
}

.button-icon {
  font-size: 2.8rem;
  margin-left: 0.8rem;
  vertical-align: middle;
}

#question-challenge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    margin: 0 auto 48px auto;
}