// "Design names"
$other-grey-lightest: #f9f9f9;
$other-grey-light: #efefef;
$other-grey-medium: #bbbbbb;
$other-grey: #888888;
$other-grey-dark: #545257;
$black: #000000;
$white: #ffffff;

// Define our own constants
$sidebar-navigation-min-width: 15rem;
$sidebar-navigation-med-width: 10vw;
$sidebar-navigation-max-width: 20vw;

// Map "design names" to known Bootstrap variables
$body-bg: $other-grey-lightest;
$primary: $other-grey-medium;
$btn-color: $white;
$list-group-disabled-color: $other-grey-medium;

// Reset other relevant Bootstrap variables
$offcanvas-horizontal-width: $sidebar-navigation-max-width;
$offcanvas-bg-color: $other-grey-light;
$offcanvas-backdrop-bg: $other-grey-medium;
$offcanvas-border-width: none;
$offcanvas-padding-x: 0;
$offcanvas-padding-y: 0;
$btn-border-radius: 5rem;
$btn-disabled-opacity: 0.35;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider: '/';
$form-check-input-indeterminate-border-color: $other-grey-medium;
$form-check-input-checked-border-color: $black;
$form-check-input-checked-color: $black;
$form-select-border-radius: 1rem;

@import "./vendor/scss/bootstrap";
@import "./vendor/fonts/phosphor/regular/style.css";
@import "./vendor/fonts/phosphor/fill/style.css";

@font-face {
  font-family: "Figtree Normal";
  font-weight: normal;
  src: url("./vendor/fonts/figtree/Figtree-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Figtree Italic";
  font-weight: normal;
  src: url("./vendor/fonts/figtree/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "Figtree Normal", "Helvetica", sans-serif;
}

i {
  font-family: "Figtree Italic", "Helvetica", sans-serif;
  font-style: normal; /* avoid "double italicization" */
}

// Layout when sidebar navigation is expanded to full size
.main {
  display: flex;
  flex-flow: row nowrap;
}
.main .content {
  flex-grow: 10;
  height: 100vh;
  overflow: scroll;
}
.main .content .inner-content {
  padding: $spacer;
}
// Primary navigation: links to each subsection of site
.main .navigation {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  overflow: clip;
  width: $sidebar-navigation-max-width;
  height: 100vh;
  background: $other-grey-dark !important;
}
.main .navigation .offcanvas-header button {
  color: $white;
}
.main .navigation .offcanvas-body {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
  justify-content: space-between;
}
.main .navigation nav {
  padding: $spacer;
}
.main .navigation div.navbar-nav {
  flex-basis: 100%;
}
.main .navigation a.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5 * $spacer;
  color: $white;
}
.main .navigation a.nav-link.active {
  background: $other-grey-medium;
  border-radius: $spacer;
  color: $black;
}
.main .navigation a.nav-link i.ph-fill {
  margin-right: 0.25 * $spacer;
}
.main .navigation .logo {
  text-align: center;
  color: $white;
  padding: $spacer;
  border-top: 1px solid $other-grey;
}
// Secondary navigation: breadcrumb, search field and user menu
.main .content nav.navbar {
  flex-flow: row nowrap;
  justify-items: center;
  background: $white;
  padding: 0.5 * $spacer $spacer;
  box-shadow: 0 0.25 * $spacer $spacer $other-grey-light;
}
.main .content nav.navbar .breadcrumb-item a {
  color: $black;
  text-decoration: none;
}
.main .content nav.navbar form .input-group .input-group-text {
  border-radius: 5 * $spacer;
  border-right: none;
  background: transparent;
}
.main .content nav.navbar form .input-group .form-control {
  border-radius: 5 * $spacer;
  background: transparent;
  border-left: none;
  padding-left: 0;
}
.main .content nav.navbar form .input-group .form-control:focus {
  box-shadow: none;
}

@include media-breakpoint-down(lg) {
  // Layout where sidebar navigation is "medium size"
  // and sidebar is not manually expanded
  .main .navigation:not(.show,.showing) {
    width: $sidebar-navigation-med-width;
  }
  .main .navigation:not(.show,.showing) nav {
    justify-content: center;
  }
  .main .navigation:not(.show,.showing) a.nav-link {
    justify-content: center;
  }
  .main .navigation:not(.show,.showing) a.nav-link span {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  // Layout when sidebar navigation is collapsed
  .main {
    flex-direction: column;
  }
  .main #toggle-sidebar-nav {
    box-sizing: border-box;
    height: (1.5 * $spacer) + (2 * $btn-padding-y) + 0.2 * $spacer;
    align-items: center;
    color: $white;
    background: $other-grey-dark;
    border-radius: 0;
  }
  .main #toggle-sidebar-nav:active {
    border-color: transparent;
  }
  .main .content {
    flex: max-content;
  }
  .main .navigation {
    min-width: $sidebar-navigation-min-width;
  }
  .main .navigation .offcanvas-header {
    border-bottom: 1px solid $other-grey;
  }
  .main .navigation .offcanvas-header button {
    border-color: transparent;
  }
}

// Button styles
.btn {
  color: $black;
}
.btn-secondary {
  color: $white;
}
.btn-secondary-outline {
  color: $black;
  border-color: $other-grey-medium;
}
.btn-secondary-outline:hover {
  border: 1px solid $other-grey;
}

// Form element styles
.d-flex .form-check {
  margin-right: $spacer;
}
input[type='datetime-local'] {
  border-radius: $spacer;
}

// Table styles
.table-container {
  overflow: hidden !important;
  padding: $spacer;
  background-color: $white;
  border-radius: $spacer;
  box-shadow: 0 0 $spacer $other-grey-light;
}
.table tr {
  vertical-align: middle;
}
.table th {
  white-space: nowrap;
  width: 1%;
  padding: $spacer $spacer 0.5 * $spacer $spacer;
  background-color: $white;
  text-transform: uppercase;
}
.table th a {
  text-decoration: none;
}
.table th.orderable a::after {
  font-family: "Phosphor-Fill";
  content: "\e140";  // `caret-up-down`
  color: $other-grey;
  float: right;
  vertical-align: bottom;
}
.table th.orderable.asc a::after {
  font-family: "Phosphor-Fill";
  content: "\e13c";  // `caret-up`
}
.table th.orderable.desc a::after {
  font-family: "Phosphor-Fill";
  content: "\e136";  // `caret-down`
}
.table td {
  white-space: nowrap;
  width: 1%;
  padding: $spacer;
  background-color: $white;
  vertical-align: middle;
}
// Forces all table headers to be `black`
.table > :not(caption) > * > th {
  color: $black;
}
// ...and the headers that act as links (sorting)
.table > :not(caption) > * > th > a {
  color: $black;
}
table tbody > tr:last-child > td {
  border-bottom: 0;
}

// Modal styles
.modal-body {
  padding: 0;
}
.modal-body-inner {
  padding: $spacer;
}
ul.modal-progress {
  background: $other-grey-light;
}
ul.modal-progress li.list-group-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: none;
}
ul.modal-progress li.list-group-item:not(.disabled) {
  cursor: pointer;
}
ul.modal-progress li.list-group-item span {
  display: flex;
  width: 2 * $spacer;
  height: 2 * $spacer;
  justify-content: space-around;
  align-items: center;
  background: $other-grey-dark;
  color: $white;
  border-radius: 5 * $spacer;
}
ul.modal-progress li.list-group-item.disabled span {
  background: $other-grey-medium;
  pointer-events: none;
}
.summary {
  padding: $spacer;
  margin: $spacer 0;
  border: 1px solid $other-grey-medium;
  border-radius: $spacer;
}
.summary table tr {
  border: none;
  border-bottom: 1px solid $other-grey-medium;
}
.summary table tr:last-of-type {
  border-bottom: none;
}
.summary table td {
  padding: 0.5 * $spacer 0;
  vertical-align: top;
  border: none;
}
.summary table td:first-of-type::after {
  content: ':';
}
.summary table td:last-of-type {
  width: 80%;
}
.summary table table tr {
  border: none
}
.summary table table td {
  padding: 0 0 0.25 * $spacer 0;
  width: 1% !important;
}
