// Design color palette
$black: black;
$white: white;
$mono-white: #f7f9fb;
$mono-gray-lightest: #e6ebef;
$mono-gray-lighter: #d1dbe5;
$mono-gray-light: #aab8c7;
$mono-gray-normal: #91a2b2;
$mono-gray-dark-1: #6b7c93;
$mono-gray-dark-2: #586980;
$mono-gray-dark-3: #34495e;
$mono-gray-darker: #2d3a4d;
$mono-gray-darkest: #1b2631;
$blue-lightest: #d9e8f0;
$blue-lighter-2: #cde7f5;
$blue-lighter-1: #8eb5cd;
$blue-light: #538eb4;
$blue-normal: #2c739b;
$blue-dark: #005a84;
$blue-darker: #004769;
$blue-darkest: #002c41;
$green-lightest: #d3ffda;
$green-lighter: #86e696;
$green-light: #00cc22;
$green-normal: #00a91b;
$green-darker: #007112;
$green-darkest: #00500d;
$red-lightest: #ffd5d6;
$red-lighter: #ef9194;
$red-normal: #b31217;
$red-darker: #7a0600;
$red-darker-2: #B01117;
$red-darkest: #5f0400;
$yellow-lightest: #fff8da;
$yellow-lighter: #f6e59a;
$yellow-normal: #e6c120;
$yellow-darker: #9c7f00;
$yellow-darkest: #675400;
$orange-lightest: #ffeed8;
$orange-lighter: #f6ce9a;
$orange-normal: #e69020;
$orange-darker: #985600;
$orange-darkest: #643800;
$bright-blue-lightest: #d6ecff;
$bright-blue-lightest-2: #e9f5fb;
$bright-blue-lighter: #88bdeb;
$bright-blue-normal: #007eeb;
$bright-blue-darker: #005096;
$bright-blue-darkest: #002c53;
$bright-red-normal: #ff5459;

// Map colors to answer categories
$correct: $green-normal;
$partially-correct: $yellow-normal;
$wrong: $bright-red-normal;

// Define our own constants
$sidebar-navigation-min-width: 15rem;
$sidebar-navigation-med-width: 10vw;
$sidebar-navigation-max-width: 20vw;

// Map design colors to Bootstrap variables
$primary: $blue-dark;
$secondary: $mono-gray-normal;
$warning: $red-lightest;
$danger: $red-normal;
$btn-color: $mono-white;
$body-bg: $mono-white;
$input-bg: $white;
$modal-content-bg: $white;
$list-group-disabled-color: $mono-gray-light;

// Reset other relevant Bootstrap variables
$offcanvas-horizontal-width: $sidebar-navigation-max-width;
$offcanvas-bg-color: $mono-gray-darker;
$offcanvas-backdrop-bg: $mono-gray-light;
$offcanvas-border-width: none;
$offcanvas-padding-x: 0;
$offcanvas-padding-y: 0;
$btn-border-radius: 5rem;
$btn-disabled-opacity: 0.35;
$breadcrumb-margin-bottom: 0;
$breadcrumb-divider: '/';
$form-check-input-indeterminate-border-color: $mono-gray-light;
$form-check-input-checked-border-color: $blue-normal;
$form-check-input-checked-color: $blue-normal;
$form-check-input-checked-bg-color: transparent;
$form-select-border-radius: 1rem;
$card-cap-bg: $mono-gray-lighter;
$card-bg: $mono-white;
$card-border-width: 0px;
$card-border-radius: 0.75rem;

@import "./vendor/scss/bootstrap";
@import "./vendor/fonts/phosphor/regular/style.css";
@import "./vendor/fonts/phosphor/fill/style.css";

@font-face {
  font-family: "DM Sans Regular";
  src: url("./vendor/fonts/dmsans/DMSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans Medium";
  src: url("./vendor/fonts/dmsans/DMSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans SemiBold";
  src: url("./vendor/fonts/dmsans/DMSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Karinika";
  font-weight: normal;
  src: url("./fonts/Karinika-Regular.otf") format("opentype");
}

// Default font sizes and colors
body {
  font-family: "DM Sans Regular", "Helvetica", sans-serif;
  font-size: 0.875 * $spacer;
}
h1 {
  font-family: "DM Sans Medium", "Helvetica", sans-serif;
  font-size: 1.25 * $spacer;
  color: $black;
}
h2 {
  font-family: "DM Sans Medium", "Helvetica", sans-serif;
  font-size: 1.125 * $spacer;
  color: $black;
}
h3 {
  font-family: "DM Sans SemiBold", "Helvetica", sans-serif;
  font-size: $spacer;
  color: $mono-gray-dark-3;
}
h4, th {
  font-family: "DM Sans SemiBold", "Helvetica", sans-serif;
  font-size: $spacer;
  color: $mono-gray-dark-3;
  text-transform: uppercase;
}
.btn {
  font-family: "DM Sans Medium", "Helvetica", sans-serif;
  font-size: $spacer;
}

// Layout when sidebar navigation is expanded to full size
.main {
  display: flex;
  flex-flow: row nowrap;

  // Primary navigation: links to each subsection of site
  .navigation {
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    overflow: clip;
    width: $sidebar-navigation-max-width;
    height: 100vh;
    background: $offcanvas-bg-color !important;

    .offcanvas-header button {
      color: $mono-white;
    }

    .offcanvas-body {
      display: flex;
      flex-flow: column nowrap;
      flex-grow: 1;
      justify-content: space-between;
    }

    nav {
      padding: $spacer;
    }

    div.navbar-nav {
      flex-basis: 100%;
    }

    a.nav-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5 * $spacer;
      color: $mono-white;

      &.active {
        background: $mono-gray-dark-2;
        border-radius: $spacer;
        color: $mono-white;
      }

      i.ph, i.ph-fill {
        margin-right: 0.25 * $spacer;
      }
    }

    .about {
      flex-direction: column;
      padding: $spacer;
      border-top: 1px solid $mono-gray-dark-1;

      .logo {
        min-height: 4 * $spacer;
        margin: 0 0 $spacer 0;
        background: url("./images/Nanoq_logo_hvid-outline.svg") no-repeat top left;
        background-size: contain;
      }

      .version {
        color: $mono-gray-light;
      }
    }
  }

  .content {
    flex-grow: 10;
    height: 100vh;
    overflow: scroll;

    .inner-content {
      padding: $spacer;
    }

    // Secondary navigation: breadcrumb, search field and user menu
    nav.navbar {
      flex-flow: row nowrap;
      justify-items: center;
      background: $white;
      padding: 0.5 * $spacer $spacer;
      box-shadow: 0 0.25 * $spacer $spacer $mono-gray-lightest;

      .breadcrumb-item a {
        color: $black;
        text-decoration: none;
      }

      form {
        .input-group {
          .input-group-text {
            border-radius: 5 * $spacer;
            border-right: none;
            background: transparent;
          }

          .form-control {
            border-radius: 5 * $spacer;
            background: transparent;
            border-left: none;
            padding-left: 0;
          }

          .form-control:focus {
            box-shadow: none;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  // Layout where sidebar navigation is "medium size"
  // and sidebar is not manually expanded
  .main .navigation:not(.show,.showing) {
    width: $sidebar-navigation-med-width;
  }
  .main .navigation:not(.show,.showing) nav {
    justify-content: center;
  }
  .main .navigation:not(.show,.showing) a.nav-link {
    justify-content: center;
  }
  .main .navigation:not(.show,.showing) a.nav-link span {
    display: none;
  }
  .main .navigation:not(.show,.showing) .about {
    padding: $spacer 0;
  }
  .main .navigation:not(.show,.showing) .logo {
    min-height: 3 * $spacer;
    margin: 0;
    background: url("./images/Nanoq_logo_hvid-outline_favicon.svg") no-repeat top center;
    background-size: contain;
  }
  .main .navigation:not(.show,.showing) .version {
    display: none;
  }
}

@include media-breakpoint-down(md) {
  // Layout when sidebar navigation is collapsed
  .main {
    flex-direction: column;

    #toggle-sidebar-nav {
      box-sizing: border-box;
      height: (1.5 * $spacer) + (2 * $btn-padding-y) + 0.2 * $spacer;
      align-items: center;
      color: $white;
      background: $mono-gray-dark-2;
      border-radius: 0;
    }

    #toggle-sidebar-nav:active {
      border-color: transparent;
    }

    .content {
      flex: max-content;
    }

    .navigation {
      min-width: $sidebar-navigation-min-width;

      .offcanvas-header {
        border-bottom: 1px solid $mono-gray-dark-2;
      }

      .offcanvas-header button {
        border-color: transparent;
      }
    }
  }
}

// Button styles
.btn-warning {
  background: $red-lightest;
  color: $red-normal;
  border-color: $red-normal;
}
.btn-outline-secondary {
  color: $blue-darkest;
  border-color: $blue-normal;
}
.btn-outline-secondary:hover {
  border: 1px solid $blue-normal;
  background: $blue-lightest;
}
.btn i.ph,
.btn i.ph-fill {
  line-height: var(--bs-body-line-height);
  margin-right: 8px;

  &.orange {
    color: $orange-normal;
  }
  &.red {
    color: $red-darker-2;
  }
  &.green {
    color: $green-darker;
  }
}

// Form element styles
.d-flex .form-check {
  margin-right: $spacer;
}
input[type='datetime-local'] {
  border-radius: $spacer;
}
textarea.form-control {
  resize: none;
}

// Table styles
.table-container {
  overflow: hidden !important;
  padding: $spacer;
  background-color: $white;
  border-radius: $spacer;
  box-shadow: 0 0 $spacer $mono-gray-lightest;
}
.table {
  tr {
    vertical-align: middle;
  }

  th {
    white-space: nowrap;
    width: 1%;
    padding: $spacer $spacer 0.5 * $spacer $spacer;
    background-color: $white;
    text-transform: uppercase;
  }

  th a {
    text-decoration: none;
  }

  th.orderable a::after {
    font-family: "Phosphor-Fill";
    content: "\e140"; // `caret-up-down`
    color: $mono-gray-light;
    float: right;
    vertical-align: bottom;
  }

  th.orderable.asc a::after {
    font-family: "Phosphor-Fill";
    content: "\e13c"; // `caret-up`
  }

  th.orderable.desc a::after {
    font-family: "Phosphor-Fill";
    content: "\e136"; // `caret-down`
  }

  td {
    white-space: nowrap;
    width: 1%;
    padding: $spacer;
    background-color: $white;
    vertical-align: middle;
  }

  // Forces all table headers to design color
  > :not(caption) > * > th,
  > :not(caption) > * > th > a {
    color: $mono-gray-dark-3;
  }

  tbody > tr:last-child > td {
    border-bottom: 0;
  }
}

// Modal styles
.modal-body {
  padding: 0;
}
.modal-body-inner {
  padding: $spacer;
}
ul.modal-progress {
  background: $mono-white;

  li.list-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    border: none;
  }

  li.list-group-item:not(.disabled) {
    cursor: pointer;
  }

  li.list-group-item span {
    display: flex;
    width: 2 * $spacer;
    height: 2 * $spacer;
    justify-content: space-around;
    align-items: center;
    background: $mono-gray-dark-1;
    color: $white;
    border-radius: 5 * $spacer;
  }

  li.list-group-item.disabled span {
    background: $mono-gray-lighter;
    pointer-events: none;
  }
}
.summary {
  padding: $spacer;
  margin: $spacer 0;
  border: 1px solid $mono-gray-lighter;
  border-radius: $spacer;

  table {
    tr {
      border: none;
      border-bottom: 1px solid $mono-gray-lighter;
    }

    tr:last-of-type {
      border-bottom: none;
    }

    td {
      padding: 0.5 * $spacer 0;
      vertical-align: top;
      border: none;

      &:first-of-type::after {
        content: ':';
      }

      &:last-of-type {
        width: 80%;
      }
    }

    table {
      tr {
        border: none
      }
      td {
        padding: 0 0 0.25 * $spacer 0;
        width: 1% !important;
      }
    }
  }
}

// Teacher UI
button.dropdown-toggle {
  padding: 0.25 * $spacer 0.5 * $spacer;
  border: none;
  font-size: 0.75 * $spacer;
  font-weight: bold;
  text-transform: uppercase;

  // "Correct"
  &.btn-success {
    background: $green-lightest;
    color: $green-darker;
  }

  // "Wrong"
  &.btn-danger {
    background: $red-lightest;
    color: $red-normal;
  }

  // "Skipped
  &.btn-secondary {
    background: $mono-gray-lightest;
    color: $mono-gray-dark-3;
  }
}

td.note input {
  display: inline-block;

  &:focus {
    width: 90%;
  }
}

// Teacher UI for running individual tests
div[data-role='teacher'][data-test-type='individual'] {
  .card {
    box-shadow: 0 0 $spacer $mono-gray-lightest;
  }

  .card-header {
    background: $blue-lightest;
    border: 1px solid $blue-lighter-1;

    #current-test-part-name,
    #current-test-part-number {
      color: $mono-gray-dark-3;
    }

    .divider {
      color: $mono-gray-light;
    }
  }

  .card-body {
    background: $white;
    border: 1px solid $mono-gray-lighter;
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
  }

  .d-flex {
    #question-container {
      flex: 1;

      .current-question {
        display: flex;
        width: 100%;
        height: 11 * $spacer;
        align-items: center;
        justify-content: space-around;
        background: $mono-white;
        border: 1px solid $mono-gray-light;
        border-radius: $spacer;
      }

      .current-question p {
        font-family: "Karinika", "DM Sans Regular", sans-serif;
        font-size: 5rem;
        line-height: 1;
      }
    }

    .actions {
      flex: 3;
      margin: 0 0 0 $spacer;

      .buttons {
        margin: 0 0 $spacer 0;

        .btn {
          display: flex;
          align-content: center;
          margin: 0 0 0.75 * $spacer 0;
          padding: 0 0.5 * $spacer 0 0.25 * $spacer;

          span {
            align-self: center;
          }

          &#correct.active {
            background: $green-lightest;
            color: $green-darker;
          }

          i.ph {
            display: inline-block;
          }

          i.ph-fill {
            display: none;
          }

          &.active {
            i.ph {
              display: none;
            }
            i.ph-fill {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  #audio-indicator {
    flex: 1;
    align-items: center;
    height: 2 * $spacer;

    div {
      display: inline-flex;
      align-items: flex-end;
      background: transparent;
      margin: 0 0.25 * $spacer 0 0;
      height: 2 * $spacer;
      width: 0.25 * $spacer;

      &.visible {
        background: $mono-gray-normal;
      }
    }
  }

  // Results table
  .table-container {
    padding: 0;
    border: 1px solid $mono-gray-lighter;
  }

  .table {
    margin: 0;

    th {
      font-size: 0.75 * $spacer;
    }

    tbody span.challenge {
      display: inline-block;
      margin: 0 0.5 * $spacer;
      padding: 0.25 * $spacer 0.75 * $spacer;
      background: $mono-white;
      border: 1px solid $mono-gray-light;
      border-radius: 0.25 * $spacer;
      text-align: center;
      font-family: "Karinika", "DM Sans Regular", sans-serif;
      font-weight: bold;
    }

    tbody .audio {
      display: inline-flex;
      padding: 0.25 * $spacer $spacer 0.25 * $spacer 0.75 * $spacer;
      background: $mono-gray-lightest;
      color: $mono-gray-dark-3;
      border-radius: $spacer;

      // Play button
      i.ph-play { color: $mono-gray-dark-3; }

      // Duration
      span {
        font-size: 0.75 * $spacer;
        color: $mono-gray-dark-1;
      }

      // "Playing" state (inverted colors)
      &.playing {
        background: $mono-gray-dark-3;
        color: $mono-gray-lightest;

        i.ph-play { color: $mono-gray-lightest }
        span { color: $mono-gray-light }
      }
    }
  }
}

// Teacher UI for running group tests
.group-test-container {
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  width: 100%;
  margin: 4rem 0;
  overflow: hidden;
}

.group-test-header {
  background: $mono-gray-lightest;
  height: 3rem;
  display: flex;
  padding: 0;

  .btn {
    flex: 1;
    height: 100%;
    border-radius: 0;
    margin: 0;
    border: 0;
    border-right: 0px solid; // divider line
    font-size: 1.2rem;
    color: black;

    &:hover,
    &:focus {
      background-color: $mono-gray-lighter;
      color: black;
    }

    &.selected {
      background-color: $mono-gray-light;
      color: $black;
      border-bottom: 4px solid $black; // black line only on selected
    }

    &:last-child {
      border-right: 0;
    }
  }
}

.group-test-toolbar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 0.9rem;
  padding: 24px;
  background: transparent;
  justify-content: flex-end;
}

.dot {
  width: 9.67px;
  height: 9.67px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0;
  background-color: $mono-gray-lightest;

  &.correct { background-color: $correct; }
  &.wrong   { background-color: $wrong; }
  &.partially-correct { background-color: $partially-correct; }
  &.default {
    border: 1px solid $mono-gray-light;
    background: transparent;
  }
}

.group-test-body {
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.group-test-divider {
  height: 3px;
  background-color: $mono-gray-lighter;
  margin: 0 1.5rem 10px 1.5rem;
}

/* Student card */
$border-radius-student-card: $spacer / 4 * 3;
.student-card {
  position: relative;
  width: calc(25% - 1rem);

  box-sizing: border-box;
  font-size: $spacer;
  color: $black;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden; // allow folded area to expand

  &.is-expanded {
    .student-top-row {
      // Flatten the bottom corners: Top-Left, Top-Right, Bottom-Right, Bottom-Left
      border-radius: $border-radius-student-card $border-radius-student-card 0 0;
    }
  }

  /* Top row */
  .student-top-row {
    background-color: $bright-blue-lightest-2;
    height: 46px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 $spacer;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid $blue-lighter-1;
    border-radius: $border-radius-student-card;
    justify-content: space-between;

    &.is-complete {
      border: 1px solid $green-lighter;
    }
    &.has-problem {
      border: 1px solid $mono-gray-light;
    }

    .student-controls {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        z-index: 2;
    }

    .status-icon {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      font-size: 18px;

      i {
        display: block;

        &.green {
          color: $green-darker !important;
        }
        &.red {
          color: $red-darker-2 !important;
        }
      }
    }

    .student-control-button {
      position: relative;
      z-index: 2;
      color: $mono-gray-dark-1;
      font-size: 16px;
      display: flex;
      cursor: pointer;
      transition: color 0.2s ease;

      &.mark-button {
        &.is-marked {
          color: $orange-normal;
        }
      }
    }
  }

  /* Progress bar inside top row */
  .progress-fill {
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: $blue-lighter-2;
    z-index: 0;
    transition: width 0.5s ease;

    &.is-complete {
      background-color: $green-lightest;
    }

    &.has-problem {
      background-color: $mono-gray-lighter;
    }

  }

  /* Text inside top row */
  .student-text {
    position: relative;
    z-index: 1;
  }

  /* Folded area below */
  .folded-area {
    display: none;
    margin-top: 0;
    gap: $spacer / 4;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: $spacer;
    background-color: $white;
    border: 1px solid $mono-gray-lighter;
    border-top: none;
    border-radius: 0 0 $border-radius-student-card $border-radius-student-card;
  }

  .part-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    margin-bottom: $spacer;
    color: $blue-darker;

    .nav-group-left {
      display: flex;
      align-items: center;
      gap: $spacer / 8;
    }

    .ph-caret-right {
      margin-left: auto;
    }

    .nav-arrow {
      cursor: pointer;

      &.disabled {
        color: $mono-gray-lightest;
        cursor: default;
        pointer-events: none;
      }
    }
  }

  .dots-container {
    display: flex;
    flex-wrap: wrap;
    gap: $spacer / 4;
    justify-content: flex-start;
  }

  .question-index {
    font-size: 10px;
    color: $blue-darker;
  }

  .parts-progress {
    display: flex;
    gap: $spacer / 8;
    width: 100%;
    height: $spacer /3;
    margin-bottom: $spacer;

    .part-segment {
      flex: 1; // Ensures all parts are equal width
      height: 100%;
      border-radius: 2px;
      transition: background-color 0.3s ease;

      &.completed {
        background-color: $blue-lighter-1;
      }

      &.current {
        background-color: $bright-blue-normal;
      }

      &.future {
        background-color: $mono-gray-lightest;
      }
    }
  }
}


