{% load i18n %}
{% if record.status == TestAssignmentStatus.CREATED %}
    <a href="{% url 'dysleksi:room' pk=record.pk %}" class="btn btn-outline-secondary">{% translate "Start" %}</a>
{% elif record.status == TestAssignmentStatus.IN_PROGRESS %}
    <a href="{% url 'dysleksi:room' pk=record.pk %}" class="btn btn-outline-secondary">{% translate "Åbn" %}</a>
{% elif record.status == TestAssignmentStatus.COMPLETED %}
    <a href="{% url 'dysleksi:test_assignment_results' pk=record.pk %}" class="btn btn-outline-secondary">{% translate "Se resultater" %}</a>
{% endif %}
