{% load i18n %}
{% with key=value.category.color_key %}
<div class="result-score category-{{ key }}">
    {% if key == "red" %}
        {% translate "Elendigt" %}
    {% elif key == "yellow" %}
        {% translate "Under middel" %}
    {% elif key == "green" %}
        {% translate "Middel" %}
    {% elif key == "blue" %}
        {% translate "Fantastisk" %}
    {% else %}
        {% translate "Ikke fuldført" %}
    {% endif %}
</div>
<div class="text-center">
    <a href="{% url 'dysleksi:test_assignment_part_results' assignment_pk=object.pk testpart_pk=part.pk %}">
        {% translate "Se detaljer" %}
    </a>
</div>
{% endwith %}
