{% extends "dysleksi/base.html" %}
{% load static %}
{% load i18n %}
{% load compress %}

{% block css %}
{% compress css %}
<link type="text/x-scss" href="{% static 'theme-admin.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="main">
    {# Primary navigation (offcanvas on smaller screens) #}
    <button id="toggle-sidebar-nav" class="btn d-flex d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
        <i class="ph ph-list"></i>
    </button>
    <div class="navigation offcanvas-md offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
        <div class="offcanvas-header justify-content-end">
            <button type="button" class="btn ph ph-caret-left" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="{% translate 'Luk' %}"></button>
        </div>
        <div class="offcanvas-body">
            <nav class="navbar">
                <div class="navbar-nav">
                    <a href="{% url 'dysleksi:test_assignment_list' %}" class="nav-link mb-3 {% if current_view == 'dysleksi:test_assignment_list' %}active{% endif %}">
                        <i class="ph-fill ph-notebook fs-5"></i>
                        <span>{% translate "Tests" %}</span>
                    </a>
                    <a href="{% url 'dysleksi:class_list' %}" class="nav-link mb-3 {% if current_view == 'dysleksi:class_list' %}active{% endif %}">
                        <i class="ph-fill ph-users-three fs-5"></i>
                        <span>{% translate "Klasser" %}</span>
                    </a>
                    <a href="{% url 'dysleksi:student_list' %}" class="nav-link mb-3 {% if current_view == 'dysleksi:student_list' %}active{% endif %}">
                        <i class="ph-fill ph-user-rectangle fs-5"></i>
                        <span>{% translate "Elever" %}</span>
                    </a>
                </div>
            </nav>
            <div class="logo">
                <span>Logo</span>
            </div>
        </div>
    </div>
    <div class="content">
        {# Secondary navigation: breadcrumb, search, and user menu #}
        <nav class="navbar">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
            <form role="search" class="ms-auto me-5">
                <div class="input-group">
                    <div class="input-group-text"><i class="ph ph-magnifying-glass"></i></div>
                    <input class="form-control" type="search" placeholder="{% translate 'Søg efter test, klasse eller elev' %}" aria-label="{% translate 'Søg' %}" />
                </div>
            </form>
            <div class="navbar-nav">
                <a class="nav-link d-flex align-items-center text-black" href="#">
                    <i class="ph-fill ph-user-circle fs-5 me-1"></i>
                    <span>{{ request.user.get_full_name }}</span>
                </a>
            </div>
        </nav>
        <div class="inner-content">
            {% block inner_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% block modals %}
{% endblock %}
{% endblock %}

{% block js_module %}
<script type="importmap">
    {
        "imports": {
            "@popperjs/core": "{% static 'vendor/js/popper/popper.esm.min.js' %}",
            "bootstrap": "{% static 'vendor/js/bootstrap/bootstrap.esm.min.js' %}"
        }
    }
</script>
<script type="module">
    // This import uses the import map defined above
    import * as bootstrap from 'bootstrap';
</script>
{% endblock %}
