{% extends "dysleksi/base.html" %}
{% load static %}
{% load i18n %}
{% load compress %}

{% block css %}
{% compress css %}
<link type="text/x-scss" href="{% static 'theme-admin.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}
{% endblock %}

{% block content %}
<div class="main">
    {# Primary navigation (offcanvas on smaller screens) #}
    <button id="toggle-sidebar-nav" class="btn d-flex d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive" aria-controls="offcanvasResponsive">
        <i class="ph ph-list"></i>
    </button>
    <div class="navigation offcanvas-md offcanvas-start" tabindex="-1" id="offcanvasResponsive" aria-labelledby="offcanvasResponsiveLabel">
        <div class="offcanvas-header justify-content-end">
            <button type="button" class="btn ph ph-caret-left" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive" aria-label="{% translate 'Luk' %}"></button>
        </div>
        <div class="offcanvas-body">
            <nav class="navbar">
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'dysleksi:class_list' %}" class="nav-link mb-3 d-flex align-items-center justify-content-between {% if current_view == 'dysleksi:class_list' %}active{% endif %}">
                            <span class="d-flex align-items-center">
                                <i class="ph ph-users-three fs-5"></i>
                                {% translate "Klasser" %}
                            </span>
                            <span data-bs-toggle="collapse" data-bs-target="#collapseClasses" aria-expanded="false" aria-controls="collapseClasses">
                                {% if teacher_classes %}
                                <i class="ph ph-caret-up"></i>
                                {% else %}
                                <i class="ph ph-caret-down"></i>
                                {% endif %}
                            </span>
                        </a>
                    </li>
                    <ul class="navbar-nav collapse {% if class != None and current_class == class %}show{% endif %}" id="collapseClasses">
                        {% for class in teacher_classes %}
                        <li class="nav-item">
                            <a href="{% url 'dysleksi:class_detail' pk=class.pk %}" class="nav-link ms-3 mb-3 d-flex align-items-center justify-content-between {% if current_view == 'dysleksi:class_detail' and current_class == class %}active{% endif %}">
                                <span class="d-flex align-items-center">
                                    <i class="ph ph-users-three fs-5"></i>
                                    {% blocktranslate trimmed with class_name=class.name %}
                                    Klasse {{ class_name }}
                                    {% endblocktranslate %}
                                </span>
                                <span data-bs-toggle="collapse" data-bs-target="#collapseClass{{ class.pk }}" aria-expanded="false" aria-controls="collapseClass{{ class.pk }}">
                                    {% if current_class == class %}
                                    <i class="ph ph-caret-up"></i>
                                    {% else %}
                                    <i class="ph ph-caret-down"></i>
                                    {% endif %}
                                </span>
                            </a>
                        </li>
                        <ul class="navbar-nav collapse {% if current_class == class %}show{% endif %}" id="collapseClass{{ class.pk }}">
                            <li class="nav-item">
                                <a href="{% url 'dysleksi:class_assignment_list' class_pk=class.pk %}"
                                   class="nav-link ms-5 mb-3 {% if current_view == 'dysleksi:class_assignment_list' and current_class == class %}active{% endif %}">
                                    <i class="ph ph-list-bullets fs-5"></i>
                                    <span>{% translate 'Testoversigt' %}</span>
                                </a>
                            </li>
                        </ul>
                        {% endfor %}
                    </ul>
                    <li class="nav-item">
                        <a href="{% url 'dysleksi:test_assignment_result_list' %}" class="nav-link mb-3 d-flex align-items-center justify-content-between {% if current_view == 'dysleksi:test_assignment_result_list' %}active{% endif %}">
                            <span class="d-flex align-items-center">
                                <i class="ph ph-list-bullets fs-5"></i>
                                {% translate "Resultater" %}
                            </span>
                            <span data-bs-toggle="collapse" data-bs-target="#collapseResults" aria-expanded="false" aria-controls="collapseResults">
                                {% if teacher_results %}
                                <i class="ph ph-caret-up"></i>
                                {% else %}
                                <i class="ph ph-caret-down"></i>
                                {% endif %}
                            </span>
                        </a>
                    </li>
                    <ul class="navbar-nav collapse {% if assignment != None and current_assignment == assignment %}show{% endif %}" id="collapseResults">
                        {% for assignment in teacher_results %}
                        <li class="nav-item">
                            <a href="{% url 'dysleksi:test_assignment_results' pk=assignment.pk %}" class="nav-link ms-3 mb-3 d-flex align-items-center justify-content-between {% if current_assignment == assignment %}active{% endif %}">
                                <span class="d-flex align-items-center">
                                    <i class="ph ph-list-bullets fs-5"></i>
                                    {% if assignment.klasse %}
                                        {% blocktranslate trimmed with test_name=assignment.test.name class_name=assignment.klasse.name %}
                                        {{ class_name }} - {{ test_name }}
                                        {% endblocktranslate %}
                                    {% else %}
                                        {% blocktranslate trimmed with test_name=assignment.test.name student_name=assignment.student.get_full_name  %}
                                        {{ student_name }} - {{ test_name }}
                                        {% endblocktranslate %}
                                    {% endif %}
                                </span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <div>
                <div class="language-picker d-flex">
                    <i class="ph ph-globe"></i>
                    <form action="{% url 'set_language' %}" method="post" class="d-flex">
                        {% csrf_token %}
                        <select name="language" onchange="this.form.submit()">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                {{ language.name_local|capfirst }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div class="about">
                    <div class="logo"></div>
                    <div class="version">{{ version }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        {# Secondary navigation: breadcrumb, search, and user menu #}
        <nav class="navbar">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% block breadcrumb %}
                    {% endblock %}
                </ol>
            </nav>
            <form role="search" class="ms-auto me-5">
                <div class="input-group">
                    <div class="input-group-text"><i class="ph ph-magnifying-glass"></i></div>
                    <input class="form-control" type="search" placeholder="{% translate 'Søg efter test, klasse eller elev' %}" aria-label="{% translate 'Søg' %}" />
                </div>
            </form>
            <ul class="navbar-nav me-1">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="ph-fill ph-user-circle fs-5 me-1"></i>
                        <span>{{ request.user.get_full_name }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item d-flex align-items-center text-black" href="{% url 'login:logout' %}">
                                <i class="ph ph-sign-out fs-5 me-1"></i>
                                <span>{% translate 'Log ud' %}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="inner-content">
            {% block inner_content %}
            {% endblock %}
        </div>
    </div>
</div>
{% block modals %}
{% endblock %}
{% endblock %}

{% block js_module %}
<script type="importmap">
    {
        "imports": {
            "@popperjs/core": "{% static 'vendor/js/popper/popper.esm.min.js' %}",
            "bootstrap": "{% static 'vendor/js/bootstrap/bootstrap.esm.min.js' %}"
        }
    }
</script>
<script type="module">
    // This import uses the import map defined above
    import * as bootstrap from 'bootstrap';
    import { initializeSidebar } from "{% static 'js/admin/sidebar.js' %}";
    document.addEventListener("DOMContentLoaded", initializeSidebar);
</script>
{% endblock %}
