{# SPDX-FileCopyrightText: 2025 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "card.html" %}
{% load i18n %}

{% block title %}
{% translate "Adgang nægtet" %}
{% endblock %}

{% block userinfo %}
{% endblock %}

{% block content %}
    {% translate "Adgang nægtet" as header %}
    {% translate 'Det anvendte login har ikke et CPR-nummer tilknyttet.' as body %}
    <h1>{{ header }}</h1>
    <p>{{ body }}</p>
    <a class="btn btn-primary" href="{% url 'login:logout' %}">{% translate 'Log ud' %}</a>
{% endblock %}
