{# SPDX-FileCopyrightText: 2025 Magenta ApS <info@magenta.dk> #}
{# SPDX-License-Identifier: MPL-2.0 #}

{% extends "card.html" %}
{% load i18n %}

{% block title %}
{% translate "Vælg Login" %}
{% endblock %}

{% block card_content %}
<form action="" method="post">
    {% csrf_token %}
    <button type="submit" name="provider" value="unilogin">UniLogin</button>
    <button type="submit" name="provider" value="mitid">MitID</button>
    <button type="submit" name="provider" value="django">Brugernavn/Password</button>
</form>
{% endblock %}
