{% extends 'dysleksi/screening/group/base.html' %}

{% block content %}
<div class="container" data-test-type="group" data-role="student" data-room-name="{{ room_name }}" data-assignment-id="{{ object.pk }}">

    <h1 id="instructions-text"></h1>
    <audio id="instructions-sound"></audio>
    <audio id="reminder-sound" src="/media/utils/447307__mabdog__ringtone-1.wav" preload="auto"></audio>
    <button class="btn btn-primary" id="start-practice" style="display: none;">Start øveopgaver</button>
    <button class="btn btn-primary" id="start-questions" style="display: none;">Start rigtige opgaver</button>
    <table id="summary-table"></table>

    <button class="btn btn-primary" id="end-summary">Ok</button>
    <h1 id="question-title"></h1>
    <div id="question-challenge"></div>
    <div id="choices"></div>
    <button id="next" class="btn next-btn" style="display: none;">
        <span class="material-icons">arrow_forward</span>
    </button>
</div>
{% endblock %}
