{% extends 'dysleksi/screening/group/base.html' %}

{% block js %}
{{ block.super }}
<script>
    let testIndex;

    const updateTable = function (data) {
        const eventsEl = document.querySelector('table#events tbody');
        const eventEl = document.createElement('tr');

        const typeEl = document.createElement('td');
        const messageEl = document.createElement('td');
        const answerEl = document.createElement('td');
        const timeEl = document.createElement('td');

        eventEl.append(typeEl);
        eventEl.append(messageEl);
        eventEl.append(answerEl);
        eventEl.append(timeEl);

        typeEl.innerHTML = data.event;
        messageEl.innerHTML = data.message || '-';
        answerEl.innerHTML = data.choice || '-';
        if (data.event === 'test.answered') {
            timeEl.innerHTML = data.duration ? `${data.duration} sekunder` : '-';
        } else {
            // For displayed or completed events, show the timestamp
            timeEl.innerHTML = data.displayedAt ? data.displayedAt.toFixed(1) : '-';
        }

        eventsEl.prepend(eventEl);
    };

    const updateButtons = function (attr, val) {
        const actionEls = document.querySelectorAll('button');
        actionEls.forEach(function (el) {
            el.classList.toggle(attr, val);
        });
    }

    chatSocket.onmessage = function (e) {
        console.log('chat: received', e.data);

        const data = JSON.parse(e.data);

        // Only handle test events
        if (data.event && data.event.startsWith('test.')) {
            if (data.index !== undefined) {
                testIndex = data.index;
            }
            updateTable(data);

            // Enable buttons after student answered
            if (data.event === 'test.answered') {
                updateButtons('disabled', false);
            }
        }
    };

    document.addEventListener('DOMContentLoaded', function () {
        const actionEls = document.querySelectorAll('button');
        actionEls.forEach(function (el) {
            el.addEventListener('click', function (e) {
                const val = e.target.id;
                if ((testIndex !== undefined) && (testIndex >= 0)) {
                    chatSocket.send(JSON.stringify({
                        event: 'test.' + val,
                        id: '{{ room_name }}',
                        index: testIndex,
                    }));
                    updateButtons('disabled', true);
                } else {
                    console.error('invalid test index', testIndex);
                }
            });
        });
    });
</script>
{% endblock js %}

{% block content %}
<div class="container">
    <table id="events" class="table">
        <thead>
            <tr>
                <th>Begivenhed</th>
                <th>Beskrivelse</th>
                <th>Svar</th>
                <th>Tid</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
