{% extends "dysleksi/admin/base.html" %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load render_table from django_tables2 %}

{% block extra_headers %}
    {{ block.super }}
    <script src="{% static 'vendor/js/chartjs/chart.umd.min.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'dysleksi:test_assignment_result_list' %}">{% translate 'Resultater' %}</a></li>
<li class="breadcrumb-item">
    <a href="{% url 'dysleksi:test_assignment_results' object.assignment.pk %}">
        {% blocktranslate trimmed with class_name=object.assignment.class_for_nav.name test_name=object.assignment.test.name %}
        Klasse {{ class_name }} - {{ test_name }}
        {% endblocktranslate %}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">{{ object.student.get_full_name }}</li>
{% endblock %}

{% block inner_content %}
    <a href="{% url 'dysleksi:test_assignment_results' pk=object.assignment.pk %}" class="ms-3">
        <i class="ph ph-arrow-elbow-left-up"></i>
        {% translate "Tilbage til klassens resultater" %}
    </a>
    <div class="row">
        <div class="col-9">
            <h5 class="mt-2 mb-4">
                <i class="ph ph-chart-bar fs-5"></i>
                {% blocktranslate trimmed with name=object.student.get_full_name %}
                    Elevrapport for {{ name }}
                {% endblocktranslate %}
                <span class="subheader">
                    ({% blocktranslate trimmed with class_name=assignment.klasse_name test_name=object.assignment.test.name %}
                    Klasse {{class_name}} - {{ test_name }}
                    {% endblocktranslate %})
                </span>
            </h5>
        </div>
    </div>


    <div class="row">
        <div class="col-10">
            <h6>{% translate "Elevens resultater" %}</h6>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-md-end">
            {# Simple pagination that replaces the entire page #}
            <span class="paginator-text" data-format="{% translate '${first} - ${last} af ${total}' %}">
                {% blocktranslate trimmed with first=pagination.current_first last=pagination.current_last total=pagination.total_count %}
                    {{ first }} - {{ last }} af {{ total }}
                {% endblocktranslate %}
            </span>
            <div class="btn-group">
                {% if pagination.current_page <= 1 %}
                <button class="paginate-left btn btn-borderless" disabled>
                    <i class="ph ph-arrow-left m-0"></i>
                </button>
            {% else %}
                <a class="paginate-left btn btn-borderless" href="{% querystring page=pagination.current_page|add:-1 %}">
                    <i class="ph ph-arrow-left m-0"></i>
                </a>
            {% endif %}
                {% if pagination.current_page >= pagination.last_page %}
                <button class="paginate-right btn btn-borderless" disabled>
                    <i class="ph ph-arrow-right m-0"></i>
                </button>
            {% else %}
                <a class="paginate-right btn btn-borderless" href="{% querystring page=pagination.current_page|add:1 %}">
                    <i class="ph ph-arrow-right m-0"></i>
                </a>
            {% endif %}
            </div>
        </div>
    </div>

    <div id="test-results-table" class="test-results-table">
        {% render_table table %}
    </div>

    <div class="normscore-bar-plot mt-4">

        <div class="plot-y-label-container">
            <div class="plot-y-label-text">{% translate 'Normscore' %}</div>
        </div>
        <div class="plot-y-scale">
            {# Vi har akser, labels osv. her i stedet for i Chart, for at have mere finkornet kontrol med layout #}
            <div>
                <span>100</span>
                <span>90</span>
                <span>80</span>
                <span>70</span>
                <span>60</span>
                <span>50</span>
                <span>40</span>
                <span>30</span>
                <span>20</span>
                <span>10</span>
                <span>0</span>
            </div>
        </div>

        <div class="plot-table-container">

            <canvas id="chart" class="plot-canvas" style="width: var(--plot-canvas-width); height: var(--plot-canvas-height);"></canvas>

            <table class="table table-bordered plot-table">
                <tbody>
                {% localize off %}
                    {% for pk, category in CorrectnessCategories.items reversed %}
                        <tr style="height: {{ category.width_pct }}%">
                            {% for part_pk, part_naming in part_names.items %}
                                {% with part_name=part_naming.0 subpart_names=part_naming.1 %}
                                <td class="plot-table-x-category-cell category-{{ category.color_key }}" colspan="{{ subpart_names|length }}"></td>
                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endlocalize %}
                </tbody>
                <tfoot>
                {% localize off %}
                <tr>
                    {% for part_pk, part_naming in part_names.items %}
                        {% with part_name=part_naming.0 subpart_names=part_naming.1 %}
                            {% for subpart_name in subpart_names %}
                                <td class="plot-x-scale-text-sub">
                                <div>{{ subpart_name|default_if_none:"" }}</div>
                                </td>
                            {% endfor %}
                        {% endwith %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for part_pk, part_naming in part_names.items %}
                        {% with part_name=part_naming.0 subpart_names=part_naming.1 answered=part_naming.2 %}
                        <td class="plot-x-scale-text" colspan="{{ subpart_names|length }}">
                            <div>{{ part_name }}</div>
                            {% if answered %}
                                <a href="{% url 'dysleksi:test_assignment_part_result' assignment_pk=object.assignment_id testpart_pk=part_pk testresponse_pk=object.pk %}">
                                    {% translate "Se elevens svar" %}
                                </a>
                            {% endif %}
                        </td>
                        {% endwith %}
                    {% endfor %}
                    </tr>

                {% endlocalize %}
                <tr>
                    <td class="plot-x-label-text" colspan="{{ plot|length }}">
                        {% translate "Deltests" %}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

        {{ plot|json_script:"plot_data" }}
        {{ part_names|json_script:"part_names" }}
        <script>
            const data = JSON.parse(document.getElementById("plot_data").textContent);
            const part_names = JSON.parse(document.getElementById("part_names").textContent);
            const labels = [];
            for (let pk in part_names) {
                let labels_map = part_names[pk];
                let primary_label = labels_map[0];
                let secondaries = labels_map[1];
                for (let secondary_label of secondaries) {
                    if (secondary_label !== null) {
                        labels.push(`${primary_label} (${secondary_label})`);
                    } else {
                        labels.push(primary_label);
                    }
                }
            }

            const chart = new Chart(
                document.getElementById("chart"),
                {
                    type: "bar",
                    data: {
                        datasets: [
                            {
                                data: data
                            }
                        ],
                        "labels": labels
                    },
                    options: {
                        responsive: false,
                        animation: false,
                        layout: {
                            autoPadding: false,
                        },
                        scales: {
                            x: {
                                display: false,
                                ticks: {
                                    display:false,
                                },
                            },
                            y: {
                                min: 0,
                                max: 100,
                                display: false,
                                ticks: {
                                    display:false,
                                },
                            }
                        },
                        plugins: {
                            legend: {
                                display: false
                            }
                        },
                        barThickness: 20,
                        elements: {
                            bar: {
                                backgroundColor: "#004769"
                            }
                        }
                    }

                }
            )
        </script>

    </div>

{% endblock %}

{% block js_module %}
    {{ block.super }}
    <script type="module">
    {#import { initialize_pagination } from '{% static 'js/admin/pagination.js' %}';#}
    {#document.addEventListener("DOMContentLoaded", initialize_pagination);#}
    </script>
{% endblock %}
