{% extends "dysleksi/base.html" %}

{% block js %}
{{ block.super }}
<script>
    // Events
    const chatSocket = getWebSocket('{{ room_name }}');

    // Mock data
    const tests = [
        {
            'type': 'multiple-choice',
            'question': 'Hvilket bogstav starter "kaffe" med?',
            'choices': ['A', 'B', 'K', 'L'],
        },
        {
            'type': 'multiple-choice',
            'question': 'Hvad kommer efter bogstavet "M"?',
            'choices': ['Q', 'N', 'S', 'E'],
        },
        {
            'type': 'audio-recording',
            'question': 'S',
        },
    ];
</script>
{% endblock %}
