{% extends 'dysleksi/screening/individual/base.html' %}

{% block content %}
<div class="container" data-test-type="individual" data-role="student" data-room-name="{{ room_name }}" data-assignment-id="{{ object.pk }}">

    <h1 id="instructions-text"></h1>
    <audio id="instructions-sound"></audio>

    <h1 id="question-title"></h1>
    <table id="summary-table"></table>
    <button class="btn btn-primary" id="end-summary">Ok</button>
    <div id="question-challenge"></div>
    <div id="choices"></div>
    <p id="choice"></p>
</div>
{% endblock %}
