{% extends 'dysleksi/screening/individual/base.html' %}

{% block content %}
<div class="container" data-role="teacher" data-room-name="{{ room_name }}">
    <button class="btn btn-success" id="correct">Korrekt</button>
    <button class="btn btn-danger" id="wrong">Forkert</button>
    <button class="btn btn-outline-primary" id="skipped">Sprunget over</button>
    <table id="events" class="table">
        <thead>
            <tr>
                <th>Begivenhed</th>
                <th>Spørgsmål</th>
                <th>Svar</th>
                <th>Tid</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}
