{% extends 'dysleksi/admin/modals/assign_base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block modal_title %}{% translate 'Tildel gruppetest' %}{% endblock %}

{% block post_url %}
{% url 'dysleksi:start_group_room' %}
{% endblock %}

{% block modal_step_1 %}
{% bootstrap_field form.klasse %}
{% bootstrap_field form.is_test_part field_class="d-flex" %}
{% bootstrap_field form.test wrapper_class="mb-3 test-choice" %}
{% bootstrap_field form.test_parts wrapper_class="mb-3 d-none test-part-choice" %}
{% endblock %}
