{% extends 'dysleksi/admin/modals/base.html' %}

{# Shared base template for `assign_group.html` and `assign_individual.html` modals #}

{% load i18n %}
{% load django_bootstrap5 %}

{% block modal_classes %}wizard{% endblock %}

{% block modal_title %}{% translate 'Tildel gruppetest' %}{% endblock %}

{% block modal_progress_bar %}
<ul class="modal-progress list-group list-group-horizontal">
    <li data-step="1" class="list-group-item col-4">
        <span>1</span>
        {% translate 'Deltagere og test' %}
    </li>
    <li data-step="2" class="list-group-item col-4 disabled">
        <span>2</span>
        {% translate 'Tid' %}
    </li>
    <li data-step="3" class="list-group-item col-4 disabled">
        <span>3</span>
        {% translate 'Bekræft' %}
    </li>
</ul>
{% endblock %}

{% block modal_body %}
<form method="post" action="{% block post_url %}{% endblock %}">
    {% csrf_token %}
    <fieldset data-step="1">
        {% block modal_step_1 %}
        {% endblock %}
    </fieldset>
    <fieldset data-step="2" class="d-none">
        {% bootstrap_field form.is_immediate field_class="d-flex" %}
        <div class="row d-none start-datetime">
            <div class="col-8">
                {% bootstrap_field form.start_datetime layout="horizontal" %}
            </div>
            <div class="col-4 add-end-button">
                <button class="btn inline-button" data-show="end-datetime" data-hide="add-end-button">
                    <i class="ph ph-plus me-1"></i>
                    {% translate 'Tilføj sluttidspunkt' %}
                </button>
            </div>
        </div>
        <div class="row d-none end-datetime">
            <div class="col-8">
                {% bootstrap_field form.end_datetime layout="horizontal" %}
            </div>
            <div class="col-4">
                <button class="btn inline-button" data-show="add-end-button" data-hide="end-datetime">
                    <i class="ph ph-x me-1"></i>
                    {% translate 'Fjern sluttidspunkt' %}
                </button>
            </div>
        </div>
    </fieldset>
    <fieldset data-step="3" class="d-none">
        <b>{% translate 'Bekræft følgende opsætning' %}</b>
        <div class="summary">
            <table class="w-100">
                <tr>
                    <td>{% translate 'Deltagere' %}</td>
                    <td data-id="{% firstof form.klasse.name form.student.name %}">-</td>
                </tr>
                <tr>
                    <td>{% translate 'Testtype' %}</td>
                    <td data-id="{{ form.is_test_part.name }}"></td>
                </tr>
                <tr>
                    <td>{% translate 'Test' %}</td>
                    <td>
                        <span data-id="{{ form.test.name }}"></span>
                        <span data-id="{{ form.test_parts.name }}"></span>
                    </td>
                </tr>
                <tr class="d-none test-parts">
                    <td>{% translate 'Indeholder deltests' %}</td>
                    <td></td>
                </tr>
                <tr>
                    <td>{% translate 'Tid' %}</td>
                    <td>
                        <table>
                            <tr>
                                <td>{% translate 'Start' %}</td>
                                <td data-id="{{ form.start_datetime.name }}"></td>
                            </tr>
                            <tr>
                                <td>{% translate 'Slut' %}</td>
                                <td data-id="{{ form.end_datetime.name }}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</form>
{% endblock %}

{% block modal_footer %}
<button type="button" disabled class="btn btn-outline-secondary me-auto prev-btn disabled">{% translate 'Tilbage' %}</button>
<button type="button" disabled class="btn btn-primary next-btn disabled">{% translate 'Næste' %}</button>
<button type="button" hidden class="btn btn-primary confirm-btn">{% translate 'Bekræft og tildel test' %}</button>
{% endblock %}
