{% extends 'dysleksi/admin/modals/base.html' %}

{# Shared base template for `cancel_group_test.html` and `cancel_individual_test.html` modals #}

{% load i18n %}

{% block modal_classes %}cancel-test{% endblock %}

{% block modal_title %}{% translate 'Afslut test' %}{% endblock %}

{% block modal_body %}
<p>{% translate 'Er du sikker på at du vil afbryde testen?' %}</p>
{# Shown by `static/js/screening/controlroom.js` when one or more students have #}
{# not completed the test #}
<div class="uncompleted-students d-none">
    {% block uncompleted_students %}
    {% endblock %}
</div>
{% endblock %}

{% block modal_footer %}
<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{% translate 'Fortryd' %}</button>
<button type="button" class="btn btn-warning confirm-btn">{% translate 'Afslut test' %}</button>
{% endblock %}
